@charset "UTF-8";

// 色
$c-main:#1a1a1a;
$red:#7f4b53;
$red2:#d5c1b9;


$en:"Josefin Sans";
$hikki:"Allura";

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: 1024px)",
	"tab-up": "(min-width: 1025px)",
	"wide" : "(min-width: 1800px)"

);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@300;400;500;600;700&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

$baseWidth : 1440;
 	@function vw($pixelsVw) {
    @return $pixelsVw / $baseWidth * 100vw;
}
$baseWidth2 : 390;
	@function vw2($pixelsVw) {
	@return $pixelsVw / $baseWidth2 * 100vw;
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: $c-main;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  color: $c-main;
  font-weight: 500;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic","Zen Kaku Gothic New", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}



.tab-show{
	display: none;
	@include mq('tab-down'){
		display: block;
	}
}

.tab-hide{
	display: block;
	@include mq('tab-down'){
		display: none;
	}
}

.sp-show{
	display: none;
	@include mq('sp-down'){
		display: block;
	}
}

.sp-hide{
	display: block;
	@include mq('sp-down'){
		display: none;
	}
}

.totop{
	position: fixed;
	width: 45px;
	height: 45px;
	background-image: linear-gradient(to left, #3a1c71 0%, #ffaf7b 100%);
	border: none;
	border-radius: 99px;
	right: 70px;
	z-index: 99;
	bottom: 70px;
	opacity: 0;
	transition: all .2s;
	@include mq('tab-down'){
		right: 30px;
		bottom: 50px;
		width: 50px;
		height: 50px;
	}
	&::after{
		content: "";
		position: absolute;
		height: 2px;
		width: 15px;
		background-color:white;
		top: 20px;
		left: 9.5px;
		transform: rotate(-45deg);
		@include mq('tab-down'){
			width: 20px;
			left: 8px;
			top:22px;
		}
	}
	&::before{
		content: "";
		position: absolute;
		height: 2px;
		width: 15px;
		background-color: white;
		top: 20px;
		right: 9.5px;
		transform: rotate(45deg);
		@include mq('tab-down'){
			width: 20px;
			right: 8px;
			top:22px;
		}
	}
	&.bottomScroll{
		opacity: 1;
	}
}

#loading {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: #FAFFFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	img{
		position: absolute;
		max-width: 400px;
		width: 80%;
		
		@include mq('tab-down'){
			top: 30vh;
		}
	}
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.spinner {
	width: 100px;
	height: 100px;
	margin: 200px auto;
	background-image: linear-gradient(to left, #3a1c71 0%, #ffaf7b 100%);
	border-radius: 100%;
	animation: sk-scaleout 1.0s infinite ease-in-out;

	@include mq('tab-down'){
		position: relative;
		top: -10vh;
	}
}

.loaded {
	opacity: 0;
	visibility: hidden;
}

main{
	overflow: hidden;
}


.red{
	color: $red;
}
.bg-red{
	background-color: $red;
}
.white{
	color: #fff;
}
.bg-white{
	background-color: #fff;
}
.bg-red2{
	background-color: $red2;
}
.hikki{
	font-family: $hikki;
}
.number{
	font-family: 'Baskerville';
}
.en{
	font-family: $en;
}

header{
	position: fixed;
	height: 64px;
	width: 100%;
	z-index: 10;
	transition: all .3s;
	&.bottomScroll{
		background-color: rgba(0,0,0,0.3);
		@include mq('sp-down'){
			background-color: #fff;
		}
	}
	@include mq('sp-down'){
		height: 50px;
	}
	.header-inner{
		display: flex;
		justify-content: center;
		height: 100%;
		.logo,.reserve-btn{
			position: absolute;
		}
		.logo{
			left: 0;
			height: 64px;
			@include mq('sp-down'){
				height: 50px;
			}
			img{
				height: 100%;
				width: auto;
			}
		}
		.reserve-btn{
			right: 0;
			height: 100%;
			width: vw(248);
			display: flex;
			justify-content: center;
			align-items: center;
			span{
				font-weight: 600;
				font-size: vw(18);
			}
			@include mq('sp-down'){
				right:52px; 
				width: 146px;
				span{
					font-size: 16px;
				}
			}
		}

		ul{
			display: flex;
			@include mq('sp-down'){
				position: fixed;
				right: -200px;
				height: 100vh;
				background-color: rgba(0,0,0,0.9);
				flex-direction: column;
				justify-content: flex-start;
				width: 198px;
				padding-top: 100px;
				transition: all .3s;
				&.active{
					right: 0;
				}
			}
			li{
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: vw(24);
				margin-left: vw(24);
				@include mq('sp-down'){
					margin-bottom: 20px;
				}
				a{
					font-size: vw(14);
					color: white;
					position: relative;
					@include mq('sp-down'){
						font-size: 12px;
					}
					&::after{
						content: "";
						width: 0%;
						height: 1px;
						background-color: #fff;
						position: absolute;
						left: 50%;
						bottom: -4px;
						transition: all .3s;
					}
					@include mq('sp-up'){
						&:hover{
							&::after{
								width: 100%;
								left: 0;
							}
						}
					}

				}
			}
		}
	}
}
header{
	&.bottomScroll{
		.burger{
			span{
				background-color: #1a1a1a;
			}
		}
	}
	.burger{
		@include mq('sp-up'){
			display: none;
		}
		height: 50px;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99;
		width: 52px;
		background-color: transparent;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		span{
			display: block;
			width: 18px;
			height: 2px;
			background-color: #fff;
			margin-bottom: 4px;
			transition: all .3s;
		}
		&.active{
			span{
				background-color: #fff;
				&:first-child{
					transform: rotate(45deg);
					margin-bottom: -7.5px;
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:last-child{
					transform: rotate(-45deg);
				}
			}
		}
	}

}


.reserve-btn{
	background-image: linear-gradient(to left, #3a1c71 0%, #ffaf7b 100%);
	position: relative;
	border-left: 1px solid #3a1c71;
	border-right: 1px solid #ffaf7b;
	transition: all .3s;
	top: 0;
	span{
		color: white;
		position: relative;
		z-index: 2;
	}
	&::before{
	  content: "";
	  display: block;
	  position: absolute;
	  width: calc(100% + 4px);
	  left: -2px;
	  height: 100%;
	  background-image: linear-gradient(to right, #3a1c71, #ffaf7b);
	  opacity: 1;
	  transition: all .6s;
	  transition-timing-function: ease-in-out;
	  @include mq('sp-down'){
		background-image: linear-gradient(110deg, #3a1c71 2%, #d76d77 58%, #ffaf7b 103%);
	  }
	}
	@include mq('sp-up'){
		&:hover{
			border-right: 1px solid #3a1c71;
			border-left: 1px solid #ffaf7b;
			&::before{
			  opacity: 0;
			}
		}
	}
  

}

.fv{
	width: 100%;
	height: vw(717);
	background-image: url(../img/fv.webp);
	background-size: cover;
	position: relative;
	padding-right: vw(282);
	padding-left: vw(80);
	display: flex;
	align-items: flex-end;
	&::after{
		content: "";
		width: 100%;
		height: 100%;
		background-color:rgba(44,44,44,0.5);
		position: absolute;
		left: 0;
		top: 0;
	}
	@include mq('sp-down'){
		height: vw2(709);
		background-image: none;
		padding-right: unset;
		padding-left: vw2(17);
		display: block;
		padding-top: vw2(107);
		&::after{
			height: vw2(583);
			background-color: none;
			background-image: url(../img/fv-sp.webp);
			background-size: cover;
		}
	}
	.section-inner{
		position: relative;
		z-index: 2;
		display: flex;
		align-items: flex-end;

		.left{
			padding-bottom: vw(120);
			padding-right: vw(210);
			@include mq('sp-down'){
				padding-right: unset;
			}
			h1{
				font-size: vw(40);
				line-height: 1.4em;
				letter-spacing: 0.04em;
				font-weight: bold;
				padding-bottom: vw(38);
				@include mq('sp-down'){
					font-size: vw2(32);
				}
			}
			h2{
				text-align: center;
				position: relative;
				height: vw(40);
				display: block;
				letter-spacing: 0.04em;
				@include mq('sp-down'){
					height: auto;
					width: vw2(272);
					margin-top: vw2(2);
				}
				&::before{
					content: "";
					width: vw(30);
					height: 1px;
					background-color: #fff;
					position: absolute;
					left: 0;
					top: 50%;
					@include mq('sp-down'){
						width: vw2(22.2);
					}
				}
				&::after{
					content: "";
					width: vw(30);
					height: 1px;
					background-color: #fff;
					position: absolute;
					right: 0;
					top: 50%;
					@include mq('sp-down'){
						width: vw2(22.2);
					}
				}
				span{
					font-size: vw(40);
					line-height: vw(40);
					@include mq('sp-down'){
						font-size: vw2(30);
					}
				}
			}
		}
		.right{
			width: vw(489);
			padding-bottom: vw(32);
			img{
				width: 100%;
			}
			@include mq('sp-down'){
				position: absolute;
				bottom: unset;
				top: vw2(129);
				width: 100%;
			}
		}
	}
	.circle{
		position: absolute;
		right: vw(105);
		bottom: vw(-120);
		z-index: 3;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: vw(245);
		height: vw(245);
		@include mq('sp-down'){
			width: vw2(245);
			height: vw2(245);
			padding-top: vw2(10);
			right: 0;
			bottom: vw2(-50);
		}
		p{
			font-weight: bold;
			letter-spacing: 0.02em;
			font-size: vw(24);
			line-height: vw(26);
			@include mq('sp-down'){
				font-size: vw2(24);
				line-height: vw2(26);
			}
		}
		.mini{
			font-size: vw(20);
			@include mq('sp-down'){
				font-size: vw2(20);
			}
		}
		h3{
			font-size: vw(107);
			font-weight: bold;
			padding-left: vw(20);
			@include mq('sp-down'){
				font-size: vw2(107);
				padding-left: vw2(20);
			}
			span{
				font-size: vw(48);
				color: white;
				@include mq('sp-down'){
					font-size: vw2(48);
				}
			}
		}
		.notice{
			font-size: vw(12);
			font-weight: normal;
			@include mq('sp-down'){
				font-size: vw2(12);
			}
		}
	}
}

.about{
	padding-bottom: vw(100);
	padding-right: vw(80);
	padding-left: vw(125);
	margin-top: vw(-40);
	@include mq('sp-down'){
		padding-top: vw2(20);
		padding-left: vw2(12);
		padding-right: vw2(9);
		padding-bottom: vw2(90);
	}
	.section-inner{
		display: flex;
		align-items: flex-end;
		.left{
			width: vw(377);
			padding-bottom: vw(30);
			img{
				width: 100%;
				position: relative;
				z-index: 2;
			}
			@include mq('sp-down'){
				display: none;
			}
		}
		.right{
			padding-left: vw(100);
			width: calc(100% - vw(377));
			padding-right: vw(20);
			position: relative;
			@include mq('sp-down'){
				padding-left: vw2(10);
				width: 100%;
				padding-right: vw2(10);
			}
			&::before{
				content: "";
				width: vw(125.1);
				height: vw(161.3);
				background-image: url(../img/relax.svg);
				position: absolute;
				left: vw(20);
				top: vw(-20);
				z-index: 3;
				background-size: cover;
				@include mq('sp-down'){
					width: vw2(77.1);
					height: vw2(99.4);
				}
			}
			.ttl-wrapper{
				padding-left: vw(80);
				position: relative;
				@include mq('sp-down'){
					padding-top: vw2(80);
				}
				&::before{
					content: "";
					position: absolute;
					height: 2px;
					width: vw(45);
					background-color: #555555;
					left: vw(-7.5);
					bottom: vw(45);
					@include mq('sp-down'){
						bottom: vw2(35);
						left: vw2(-7.5);
						width: vw2(30);
					}
				}
				&::after{
					content: "";
					position: absolute;
					height: 2px;
					width: vw(90);
					background-color: #555555;
					right: vw(-7.5);
					bottom: vw(45);
					@include mq('sp-down'){
						bottom: vw2(35);
						right: vw2(-7.5);
						width: vw2(15);
					}
				}
				.wrap-wrap{
					display: flex;
					align-items: center;
					margin-bottom: vw(-40);
					position: relative;
					@include mq('sp-down'){
						margin-bottom: vw2(-30);
					}
					&::before{
						content: "";
						background-image: url(../img/slash.svg);
						width: vw(32.75);
						height: vw(24.81);
						position: absolute;
						bottom: vw(30);
						left: vw(-30);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						@include mq('sp-down'){
							display: none;
						}
					}
					&::after{
						content: "";
						background-image: url(../img/slash.svg);
						width: vw(32.75);
						height: vw(24.81);
						position: absolute;
						bottom: vw(30);
						right: vw(90);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						@include mq('sp-down'){
							display: none;
						}
					}
				}
				z-index: 2;

				.number{
					font-size: vw(125);
					letter-spacing: -0.04em;
					font-style: italic;
					font-weight: 600;
					@include mq('sp-down'){
						font-size: vw2(76);
					}
				}
				.ttl-right{
					padding-left: vw(10);
					display: flex;
					flex-direction: column;
					align-items: center;
					position: relative;
					top: vw(-10);
					@include mq('sp-down'){
						padding-left: vw2(10);
						top: vw2(-10);
					}
					.border{
						border:1px solid $red;
						font-size: vw(15);
						font-weight: 600;
						line-height: 1.4em;
						text-align: center;
						padding-left: vw(5);
						padding-right: vw(5);
						margin-bottom: vw(5);
						@include mq('sp-down'){
							font-size: 10px;
							padding-left: vw2(5);
							padding-right: vw2(5);
							margin-bottom: vw2(5);
						}
					}
					h5{
						font-size: vw(32);
						font-weight: bold;
						padding-left: vw(5);
						margin-bottom: vw(3);
						@include mq('sp-down'){
							font-size: vw2(19);
							margin-bottom: vw2(3);
							padding-left: vw2(5);
						}
					}
					h4{
						font-weight: bold;
						font-size: vw(48);
						letter-spacing: 0.04em;
						@include mq('sp-down'){
							font-size: vw2(29);
						}
					}
					
				}
			}
			.white-wrapper{
				background-color: #fff;
				padding-top: vw(60);
				padding-bottom: vw(40);
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				@include mq('sp-down'){
					padding-top: vw2(60);
					padding-bottom: vw2(30);
				}
				&::after{
					content: "";
					position: absolute;
					width: calc(100% + vw(20));
					height: calc(100% + vw(20));
					top: vw(-5);
					left: vw(-5);
					border-right: 2px solid #555555;
					border-bottom: 2px solid #555555;
					@include mq('sp-down'){
						width: calc(100% + vw2(20));
						height: calc(100% + vw2(20));
						top: vw2(-5);
						left: vw2(-5);
					}
				}
				&::before{
					content: "";
					position: absolute;
					width: calc(100% + vw(15));
					height: calc(100% + vw(12.5));
					top: vw(-5);
					left: vw(-7.5);
					border-right: 2px solid #555555;
					border-bottom: 2px solid #555555;
					border-left: 2px solid #555555;
					@include mq('sp-down'){
						width: calc(100% + vw2(15));
						height: calc(100% + vw2(12.5));
						top: vw2(-5);
						left: vw2(-7.5);
					}
				}
				.bg-red{
					font-size: vw(27);
					font-weight: bold;
					padding-left: vw(38);
					padding-right: vw(32);
					line-height: 1.26em;
					margin-bottom: vw(14);
					letter-spacing: 0.04em;
					@include mq('sp-down'){
						font-size: vw2(24);
						padding-left: vw2(38);
						padding-right: vw2(32);
						margin-bottom: vw2(20);
					}
				}
				.bold{
					font-size: vw(28);
					letter-spacing: 0.04em;
					line-height: 1.42em;
					font-weight: bold;
					color: #43435c;
					@include mq('sp-down'){
						font-size: vw2(24);
					}
				}
				.normal{
					font-size: vw(28);
					letter-spacing: 0.04em;
					line-height: 1.42em;
					color: #43435c;
					@include mq('sp-down'){
						font-size: vw2(24);
						text-align: center;
					}
				}
			}
		}
	}
}

.ttl-h2{
	text-align: center;
	height: vw(120);
	display: flex;
	justify-content: center;
	align-items: center;
	@include mq('sp-down'){
		height: vw2(70);
	}
	span{
		font-size: vw(64);
		color: white;
		position: relative;
		display: block;
		min-width: 250px;
		@include mq('sp-down'){
			font-size: vw2(32);
			min-width: 200px;
		}
		&::before{
			content: "";
			position: absolute;
			width: vw(29.4);
			height: 1px;
			background-color: #fff;
			top: 50%;
			left: vw(-60);
			@include mq('sp-down'){
				width: vw2(29.4);
				left: vw2(-40);
			}
		}
		&::after{
			content: "";
			position: absolute;
			width: vw(29.4);
			height: 1px;
			background-color: #fff;
			top: 50%;
			right: vw(-60);
			@include mq('sp-down'){
				width: vw2(29.4);
				right: vw2(-40);
			}
		}
	}
}

.concept{
	.bg-inner{
		background-image: url(../img/concept-bg.webp);
		background-size: cover;
		padding-top: vw(100);
		padding-bottom: vw(180);
		@include mq('sp-down'){
			padding-top: vw2(32);
			padding-bottom: vw2(88);
			background-position: top;
		}
		>p{
			font-size: vw(28);
			line-height: 1.4em;
			letter-spacing: 0.04em;
			font-weight: bold;
			text-align: center;
			@include mq('sp-down'){
				font-size: vw2(18);
				line-height: 1em;
				line-height: vw2(30);
				white-space: nowrap;
			}
		}
		.mt{
			margin-top: vw(64);
			@include mq('sp-down'){
				margin-top: vw2(24);
			}
		}
		.cta{
			margin-top: vw(100);
			@include mq('sp-down'){
				margin-top: vw2(40);
			}
		}
	}
}

.cta{
	padding-top: vw(62);
	padding-bottom: vw(80);
	padding-left: vw(72);
	padding-right: vw(72);
	max-width: vw(1040);
	margin: auto;
	display: flex;
	justify-content: space-between;
	@include mq('sp-down'){
		max-width: calc(100% - 32px);
		flex-direction: column-reverse;
		padding-top: vw2(25);
		padding-bottom: vw2(45);
	}
	>div{
		width: 50%;
		@include mq('sp-down'){
			width: 100%;
		}
		.bg-red{
			clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0% 100%);
		}
		.ttl{
			display: flex;
			border-bottom:2px solid $red;
			align-items: center;
			h5{
				font-size: vw(30);
				line-height: 1.166em;
				padding-left: vw(12);
				padding-right: vw(30);
				padding-top: vw(5);
				margin-bottom: -1px;
				@include mq('sp-down'){
					font-size: vw2(18);
					padding-left: vw2(12);
					padding-right: vw2(30);
					padding-top: vw2(5);
				}
			}
			p{
				padding-left: vw(12);
				font-weight: bold;
				font-size: vw(16);
				@include mq('sp-down'){
					font-size: 12px;
					padding-left: vw2(12);
				}
			}
		}
		.mini{
			padding-top: vw(8);
			font-size: vw(14);
			font-weight: bold;
			margin-bottom: vw(50);
			@include mq('sp-down'){
				padding-top: vw2(8);
				font-size: 12px;
			}
		}

	}
	.contact{
		padding-right: vw(48);
		position: relative;
		@include mq('sp-down'){
			padding-right: unset;
			margin-top: vw2(80);
		}
		&::after{
			width: 1px;
			height: 90%;
			content: "";
			position: absolute;
			background-color: $red;
			right: 0;
			top: 8%;
			@include mq('sp-down'){
				width: vw2(161);
				height: 1px;
				top: vw2(-40);
				right: unset;
				left: calc(50% - vw2(80.5));
				
			}
		}
	}
	.booking{
		padding-left: vw(48);
		@include mq('sp-down'){
			padding-left: unset;
		}
	}
}

.btn-wrapper{
	display: flex;
	justify-content: center;
	.line-btn{
		display: block;
		border-radius: 99px;
		width: 100%;
		line-height: vw(64);
		font-size: vw(20);
		font-weight: bold;
		text-align: center;
		position: relative;
		border: 2px solid $red;
		background-color: #fff;
		transition: all .3s;
		top: 0;
		&::before{
			content: "";
			position: absolute;
			width: vw(14);
			height: vw(15);
			background-color: $red;
			clip-path: polygon(0 0, 0% 100%, 100% 50%);
			right: vw(28);
			top: calc(50% - vw(7));
			transition: all .3s;
			@include mq('sp-down'){
				width: vw2(14);
				height: vw2(15);
				right: vw2(10);
				top: calc(50% - vw2(7));
			}
		}
		@include mq('sp-down'){
			width: vw2(265);
			line-height: vw2(50);
			font-size: vw2(16);
		}
		img,svg{
			position: absolute;
			z-index: 2;
		}
		span{
			position: relative;
			z-index: 2;
			transition: all .4s;
		}
		img{
			width: vw(28);
			height: vw(28);
			left: vw(56);
			top: calc(50% - vw(14));
			@include mq('sp-down'){
				width: vw2(20);
				height: vw2(20);
				left: vw2(14);
				top: calc(50% - vw2(10));
			}
		}

		&::after{
			position: absolute;
			content: "";
			width: 0%;
			height: 100%;
			background-color: $red;
			left: 50%;
			top: 0;
			border-radius: 0px;
			transition: all .4s;
		}
		@include mq('sp-up'){
			&:hover{
				top: -3px;
				box-shadow: 0 5px 1px gray;
				span{
					color: white;
				}
				&::before{
					background-color: #fff;
					z-index: 4;
				}
				&::after{
					width: 100%;
					left: 0;
					border-radius: 99px;
				}
	
			}
			&:active{
				top: 0;
				box-shadow: none;
			}
		}

	}
	.booking-btn{
		display: block;
		border-radius: 99px;
		width: 100%;
		line-height: vw(64);
		font-size: vw(20);
		font-weight: bold;
		text-align: center;
		position: relative;
		transition: all .3s;
		top:0;
		@include mq('sp-down'){
			width: vw2(265);
			line-height: vw2(50);
			font-size: vw2(16);
		}
		svg{
			position: absolute;
			width: vw(14);
			height: vw(15);
			right: vw(28);
			top: calc(50% - vw(7));
			@include mq('sp-down'){
				width: vw2(14);
				height: vw2(15);
				right: vw2(11);
				top: calc(50% - vw2(7));
			}
		}
		&::before{
			border-radius: 99px;
		}
		@include mq('sp-up'){
			&:hover{
				top: -3px;
				box-shadow: 0 5px 1px gray;
			}
			&:active{
				top: 0;
				box-shadow: none;
			}
		}

	}
}

.studio{
	padding-bottom: 120px;
	position: relative;
	overflow: hidden;
	&::after{
		content: "";
		position: absolute;
		right: 112px;
		width: 218.4px;
		height: 150.3px;
		background-image: url(../img/glasses.svg);
		background-size: cover;
		@include mq('sp-down'){
			width: 101.4px;
			height: 69.7px;
			bottom: 28.5px;
			right: 0;
		}
	}
	.section-inner{
		@media screen and(max-width:1100px) {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		&:first-child{
			padding-top: vw(46);
		}
		margin-bottom: vw(46);
		&:last-child{
			margin-bottom: 0;
		}
		.ttl-wrapper{
			display: flex;
			justify-content: center;
			margin-bottom: vw(56);
			padding-top: vw(46);
			@include mq('sp-down'){
				padding-top: vw2(32);
				margin-bottom: vw2(40);
			}
			.hikki{
				color: #2b2b2b;
				font-size: vw(48);
				letter-spacing: 0.04em;
				border-left: 1px solid #707070;
				border-right: 1px solid #707070;
				padding-left: vw(30);
				padding-right: vw(30);
				position: relative;
				@include mq('sp-down'){
					font-size: vw2(35);
					padding-left: vw2(30);
					padding-right: vw2(30);
				}
				&::before{
					position: absolute;
					content: "";
					left: 5px;
					width: 5px;
					height: 100%;
					background-color: #707070;
					top: 0;
				}

				&::after{
					position: absolute;
					content: "";
					right: 5px;
					width: 5px;
					height: 100%;
					background-color: #707070;
					top: 0;
				}
			}
		}
		.box{
			background-color: #fff;
			max-width: 1040px;

			margin: auto;

			.box-ttl{
				text-align: center;
				line-height: 62px;
				cursor: pointer;
				letter-spacing: 0.04em;
				span{
					font-size: 24px;
					font-weight: bold;
					color: #1a1a1a;
				}
				position: relative;
				&::before,&::after{
					content: "";
					width: 21.8px;
					height: 4px;
					background-color:$red;
					position: absolute;
					right: 13px;
					top: calc(50% - 2px);
					transition: all .3s;
				}
				&::before{
					transform: rotate(90deg);
					transition: all .3s;
					transition-delay: .3s;
				}
				&.active{
					&::before{
						transform: rotate(0);
						transition-delay:0s;
					}
				}
			}

			.content{
				padding-bottom: 78px;
				display: none;
				@include mq('sp-down'){
					padding-bottom: 48px;
				}
				&.hide-content{
					display: block;
				}
				.shop-ttl{
					h4{
						line-height: 49px;
						font-size: 24px;
						text-align: center;
						font-weight: bold;
					}
					margin-bottom: 44px;
					@include mq('sp-down'){
						margin-bottom: 24px;
					}
				}
				.shop-about{
					width: 61%;
					margin: auto;
					margin-bottom: 36px;
					@include mq('sp-down'){
						width: calc(100% - 20px);
					}
					th,td{
						font-size: 24px;
						font-weight: bold;
						line-height: 1.16em;
						white-space: nowrap;
						letter-spacing: 0.04em;
						@include mq('sp-down'){
							font-size: 12px;
						}
					}
					th{
						width: 200px;
						
						display: flex;
						@include mq('sp-down'){
							width: 80px;
							
						}
						.th-wrapper{
							position: relative;
							padding-left: 30px;
							color: $red;
							@include mq('sp-down'){
								padding-left: 15px;
							}
							&::before{
								content: "";
								width: 4px;
								height: 100%;
								background-color: $red;
								position: absolute;
								left: 4px;
								top: 0;
								@include mq('sp-down'){
									left: 2px;
								}
							}

						}
					}
					td{
						width: 100%;
						.td-wrapper{
							padding-right: 30px;
							color: $red;
							position: relative;
							&::after{
								content: "";
								width: 4px;
								height: 100%;
								background-color: $red;
								position: absolute;
								right: 4px;
								top: 0;
								@include mq('sp-down'){
									right: 2px;
								}
							}
							@include mq('sp-down'){
								padding-right: 0px;
							}
						}
					}
					tr{
						border-left: 2px solid $red;
						border-right: 2px solid $red;

						&:first-child{
							.th-wrapper,.td-wrapper{
								padding-bottom: 14px;
								padding-top: 5px;
							}
						}
						&:last-child{
							.th-wrapper.td{
								padding-bottom: 5px;
							}
						}
						position: relative;

					}
				}
				.box-in-box{
					display: flex;
					justify-content: center;
					.bg-red2{
						text-align: center;
						font-size: 18px;
						line-height: 1.666em;
						letter-spacing: 0.04em;
						font-weight: bold;
						padding-top: 15px;
						padding-bottom: 12px;
						padding-left: 58px;
						padding-right: 58px;
						@include mq('sp-down'){
							margin-left: 10px;
							margin-right: 10px;
							padding-left: 0;
							padding-right: 0;
							font-size: vw2(18);
							width: calc(100% - 20px);
						}
					}
					.bg-red{
						font-size: 24px;
						line-height: 44px;
						padding-left: 10px;
						padding-right: 10px;
						font-weight: bold;
						min-width: 350px;
						text-align: center;
						letter-spacing: 0.04em;
						@include mq('sp-down'){
							font-size: 16px;
							min-width: 265px;
						}
					}

				}
				.bb1{
					margin-bottom: 48px;
					@include mq('sp-down'){
						margin-bottom: 32px;
					}
				}
				.bb2{
					margin-bottom: 20px;
					@include mq('sp-down'){
						margin-bottom: 12px;
					}
				}
				.flex{
					display: flex;
					justify-content: space-between;
					padding-left: 80px;
					padding-right: 80px;
					@include mq('sp-down'){
						flex-direction: column;
						align-items: center;
						padding-left: unset;
						padding-right: unset;
					}
					.card{
						width: calc(33.333333% - 28px);
						@include mq('sp-down'){
							width: 265px;
						}
						img{
							width: 100%;
						}
						p{
							font-size: 16px;
							line-height: 1.625em;
							color: #1a1a1a;
							padding-top: 18px;
							word-break: break-word;
							@include mq('sp-down'){
								padding-top: 16px;
								padding-bottom: 40px;
							}
							.hide1100{
								@media screen and(max-width:1100px) {
									display: none;
								}
							}
						}
						.nowrap{
							
							@include mq('tab-up'){
								white-space: nowrap;
							}
						}
					}
				}
				.table-wrapper{
					padding-left: 80px;
					padding-right: 80px;
					@include mq('sp-down'){
						padding-left: 10px;
						padding-right: 10px;
					}
					.inner{
						padding: 28px 62px;
						@include mq('sp-down'){
							padding: 32px 24px;
							padding-top: 16px;
						}
						table{
							width: 100%;
							th,td{
								padding-top: 20px;
								padding-bottom: 20px;
								color: white;
								line-height: 1.2em;
								@include mq('sp-down'){
									padding-top: 16px;
									padding-bottom: 16px;
									font-size: 14px;
								}
							}
							th{
								width: 160px;
								font-weight: bold;
								display: flex;
								@include mq('sp-down'){
									width: 62px;
								}
							}
							.lh2{
								line-height: 2.4em;
								@include mq('sp-down'){
									line-height: 1.2em;
								}
							}
							td{
								width: 100%;
							}
							tr{
								border-bottom: 1px solid rgba(255,255,255,.18);
								&:last-child{
									border-bottom: none;
									th,td{
										padding-bottom: 0;
									}
								}
							}
						}
					}
				}
				.notice{
					font-size: 14px;
					line-height: 1.3em;
					text-align: center;
				}
				.plan{
					padding-left: 15px;
					padding-right: 15px;
					h5{
						text-align: center;
						margin-bottom: 35px;
						span{
							color: #1a1a1a;
							font-size: 16px;
							line-height: 1.875em;
							font-weight: bold;
							position: relative;
							&::after{
								content: "";
								height: 3px;
								width: 43px;
								position: absolute;
								background-color: $red;
								bottom: -10px;
								left: calc(50% - 21.5px);
							}
						}
					}
					table{
						width: 100%;
						max-width: 692px;
						margin: auto;
						position: relative;
						
						&::before{
							content: "";
							position: absolute;
							width: calc(50% - 8px);
							height: calc(100% - 8px);
							background-color: #fdf0f0;
							top: 4px;
							left: 4px;

						}
						&::after{
							content: "";
							position: absolute;
							width: calc(50% - 8px);
							height: calc(100% - 8px);
							background-color: #f8f8fa;
							top: 4px;
							right: 4px;

						}
						&.data{
							&::before{
								@include mq('sp-down'){
									width: calc(100% - 8px);
								}
							}
							&::after{
								@include mq('sp-down'){
									display: none;
								}
							}
						}
						&.set{
							&::after{
								@include mq('sp-down'){
									width: calc(100% - 8px);
								}
							}
							&::before{
								@include mq('sp-down'){
									display: none;
								}
							}
						}
						tr{
							position: relative;
							z-index: 2;
							&:first-child{
								border-top: 1px solid #e4e5e5;
							}
							th{
								border-left: 1px solid #e4e5e5;
								width: 50%;
								font-size: 24px;
								@include mq('sp-down'){
									font-size: 18px;
									display: flex;
									align-items: center;
									justify-content: center;
									width: 100%;
								}
								span{
									line-height: 1.8333em;
									font-weight: bold;
									color: #1a1a1a;
								}
								.img-wrapper{
									display: inline;
									position: relative;
									.ab{
										margin-right: -15px;
										margin-left: -35px;
									}
								}
								.daikan-img{
									margin-left: -5px;
									margin-right: -5px;
									position: relative;
									width: 44px;
									&::after{
										content: "or";
										font-size: 10px;
										transform: scale(.8);
										font-weight: normal;
										position: absolute;
										right: 4px;
										top: -10px;
										@include mq('sp-down'){
											top: 0;
										}
									}
									.opa0{
										opacity: 0;
									}

								}
								.daikan-img2{
									&::after{
										content: "+";
									}
								}
								.no-after{
									&::after{
										display: none;
									}
								}
								.item{
									font-size: 16px;
									@include mq('sp-down'){
										font-size: 12px;
									}
								}
								.span-wrapper{
									display: inline;
									@include mq('sp-down'){
										display: flex;
										flex-direction: column;
										align-items: flex-end;
										span{
											line-height: 1em;
										}
									}
								}
							}
							td{
								border-right: 1px solid #e4e5e5;
								border-left: 1px solid #e4e5e5;
								width: 50%;
								font-size: 24px;
								@include mq('sp-down'){
									font-size: 20px;
								}
								span{
									line-height: 1.8333em;
									font-weight: bold;
									color: #1a1a1a;
								}
								.zei{
									font-size: 14px;
									font-weight: normal;
									@include mq('sp-down'){
										font-size: 12px;
									}
								}
							}
							th,td{
								padding-top: 10px;
								padding-bottom: 10px;
								text-align: center;
								border-bottom: none;
								position: relative;
								z-index: 2;
								&::after{
									content: "";
									width: 100%;
									height: 1px;
									background-color: #e4e5e5;
									position: absolute;
									bottom: 0;
									left: 0;
									z-index: 3;
								}
							}
							
						}
					}
				}
			}
		}
	}
	#daikan-yama{
		.box{
			.content{
				.plan{
					.data,.set{
						tr{
							th{
								.daikan-img{
									height: 40px;
									&::after{
										right: 4px;
										@include mq('sp-down'){
											right: 1px;
										}
									}
								}
								img{
									@include mq('sp-down'){
										width: 35px;
									}	
								}
							}
						}
						.fourth{
							th,td{
								height: 80px;
								.span-wrapper2{
									@include mq('sp-up'){
										display: inline;
									}
									@include mq('sp-down'){
										display: flex;
										flex-wrap: wrap;
										width: 70px;
										margin-left: 70px;
										.daikan-img:not(.daikan-img2){
											img{
												width: 30px;
											}
											&::after{
												right: 35px;
												top: 20px;
											}
										}
									}

								}
							}
						}
					}
				}
			}
		}
	}
}

.check{
	overflow: hidden;
	padding-bottom: vw(120);
	@include mq('sp-down'){
		padding-bottom: vw2(64);
	}
	.flex-wrapper{
		padding-right: vw(80);
		padding-top: vw(65);
		@include mq('sp-down'){
			padding-left: 15px;
			padding-right: 15px;
			padding-top: vw2(32.5);
		}
	}
	.flex{
		display: flex;
		align-items: center;
		margin-bottom: vw(216);
		@include mq('sp-down'){
			flex-direction: column-reverse;
		}
		.left{
			padding-right: vw(90);
			width: 46%;
			@include mq('sp-down'){
				width: 100%;
				padding-right: unset;
				margin-top: vw2(-60);
			}
			.left-top{
				img{
					position: relative;
					left: -23px;
					@include mq('sp-down'){
						width: vw2(142.8);
						left: 0;
					}
				}
				padding-bottom: 20px;
			}
			.left-bottom{
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: vw(76);
				@include mq('sp-down'){
					padding-left: unset;
				}
				h2{
					text-align: center;
					font-size: vw(28);
					font-weight: bold;
					width: 100%;
					border-left: 2px solid $red;
					border-right: 2px solid $red;
					position: relative;
					margin-bottom: vw(16);
					@include mq('sp-down'){
						font-size: vw2(24);
						margin-bottom: vw2(24);
					}
					&::before{
						 content: "";
						 width: 4px;
						 height: 100%;
						 background-color: $red;
						 position: absolute;
						 left: 4px;
					}
					&::after{
						content: "";
						width: 4px;
						height: 100%;
						background-color: $red;
						position: absolute;
						right: 4px;
				   }
				}
				.check-list{
					position: relative;
					width: 100%;
					&::before{
						content: "";
						width: 2px;
						height: calc(100% - vw(8));
						background-color: $red;
						position: absolute;
						left: 0px;
						top: vw(8);
						@include mq('sp-down'){
							height: calc(100% - vw2(8));
							top: vw2(8);
						}
				   }
				   &::after{
					   content: "";
					   width: 2px;
					   height: calc(100% - vw(8));
					   background-color: $red;
					   position: absolute;
					   right: 0px;
					   top: vw(8);
					   @include mq('sp-down'){
						height: calc(100% - vw2(8));
						top: vw2(8);
					}
				  }
				  h4{
					text-align: center;
					font-size: vw(18);
					letter-spacing: 0.04em;
					line-height: 1.6666em;
					font-weight: bold;
					margin-bottom: vw(20);
					@include mq('sp-down'){
						font-size: vw2(16);
						margin-bottom: vw2(18);
					}
					&::after{
						content: "";
						width: vw(16.7);
						height: vw(17);
						display: inline-block;
						position: relative;
						top: vw(3);
						left: vw(-3);
						background-image: url(../img/heart.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						@include mq('sp-down'){
							width: vw2(16.7);
							height: vw2(17);
							top: vw2(3);
							left: vw2(-3);
						}
					}
				  }
				  ul{
					padding-left: vw(50);
					@include mq('sp-down'){
						padding-left: vw2(20);
					}
					li{
						margin-bottom: vw(12);
						font-size: vw(14);
						line-height: vw(20);
						font-weight: bold;
						color: #2f2f2f;
						@include mq('sp-down'){
							font-size: vw2(14);
							line-height: vw2(16);
							margin-bottom: vw2(15);
						}
						&:last-child{
							margin-bottom: 0;
						}
						img{
							margin-right: vw(12);
							height: vw(20);
							width: auto;
							@include mq('sp-down'){
								height: vw2(16);
								margin-right: vw2(12);
							}
						}
					}
				  }
				}
			}
		}
		.right{
			width: 54%;
			@include mq('sp-down'){
				width: 100%;
			}
			img{
				width: 100%;
			}
		}
	}
	.cta{
		position: relative;
		&::before{
			content: "Photostyling 75c";
			font-family: $hikki;
			font-size: vw(89);
			letter-spacing: 0.04em;
			color: #575757;
			position: absolute;
			left: vw(-120);
			top: vw(-80);
			transform: rotate(-5deg);
			@include mq('sp-down'){
				font-size: vw2(36);
				left: vw2(-10);
				top: vw2(-30);
			}
		}
	}
}

.flow{
	.ttl-h2{
		span{
			font-size: vw(40);
			font-weight: bold;
			@include mq('sp-down'){
				font-size: vw2(28);
			}
		}
	}
	.section-inner{
		padding-top: vw(76);
		padding-bottom: vw(84);
		padding-left: vw(78);
		padding-right: vw(78);
		@include mq('sp-down'){
			padding-left: 15px;
			padding-right: 15px;
			padding-top: vw2(24);
		}
		.inner-inner{
			padding-top: vw(84);
			padding-left: vw(122);
			padding-right: vw(122);
			padding-bottom: vw(76);
			@include mq('sp-down'){
				padding-top: vw2(40);
				padding-left: vw2(9);
				padding-right: vw2(9);
			}
			.step{
				h3{
					text-align: center;
					position: relative;
					margin-bottom: vw(40);
					 @include mq('sp-down'){
						margin-bottom: vw2(20);
					 }
					span{
						display: inline-block;
						position: relative;
						z-index: 2;
						font-size: vw(20);
						line-height: 2em;
						font-weight: bold;
						padding-left: vw(38);
						padding-right: vw(38);
						clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
						@include mq('sp-down'){
							font-size: vw2(16);
							padding-left: vw2(44);
							padding-right: vw2(44);
						}
					}
					&::after{
						content: "";
						width: 100%;
						height: 1px;
						background-color: #707070;
						position: absolute;
						left: 0;
						top: calc(50% - 0.5px);
					}
				}
				.flex{
					display: flex;
					align-items: center;
					padding-right: vw(100);
					justify-content: space-between;
					padding-bottom: vw(40);
					@include mq('sp-down'){
						position: relative;
						flex-direction: column;
						padding-right: unset;
						padding-bottom:vw2(40);
					}
					.left{
						h4{
							font-size: vw(28);
							letter-spacing: 0.04em;
							font-weight: bold;
							padding-bottom: vw(40);
							@include mq('sp-down'){
								font-size: vw2(20);
								text-align: center;
								padding-bottom: vw2(247.2);
							}
						}
						p{
							font-weight: bold;
							font-size: vw(16);
							line-height: 2em;
							letter-spacing: 0.04em;
							@include mq('sp-down'){
								font-size: vw2(14);
								text-align: center;
							}
						}
						.bb{
							border-bottom: 2px dashed $red;
							padding-bottom: vw(18);
							@include mq('sp-down'){
								padding-bottom: vw2(20);
							}
						}
						.tel{
							margin-top: vw(23);
							display: flex;
							align-items: center;
							@include mq('sp-down'){
								justify-content: center;
							}
							img{
								margin-right: vw(5);
								@include mq('sp-down'){
									margin-right: vw2(5);
								}
							}
							a{
								line-height: 1.4em;
								position: relative;
								color: #4b4b4b;
								&::after{
									content: "";
									width: 100%;
									height: 1px;
									background-color: #4b4b4b;
									position: absolute;
									bottom: -0px;
									left: 0;
									transition: all .3s;
								}
								@include mq('sp-up'){
									&:hover{
										&::after{
											height: 2px;
										}
									}
								}

							}
						}
						ul{
							padding-top: vw(11);
							@include mq('sp-down'){
								padding-top: vw2(14);
								padding-left: vw2(20);
								padding-right: vw2(20);
							}
							li{
								font-size: vw(12);
								line-height: 1.5em;
								letter-spacing: 0.04em;
								padding-left: vw(7);
								position: relative;
								@include mq('sp-down'){
									font-size: 12px;
									padding-left: vw2(7);
								}
								&::before{
									content: "*";
									position: absolute;
									left: 0;
								}
							}
						}
						.step5-ul{
							@include mq('sp-down'){
								padding-left: vw2(60);
							}
						}
					}
					.right{
						img{
							width: vw(205.5);
							height: vw(205.5);
						}
						@include mq('sp-down'){
							position: absolute;
							top: vw2(40.8);
							img{
								width: vw2(205.5);
								height: vw2(205.5);
							}
						}
					}
				}
			}
			.step1{
				.flex{
					.left{
						p{
							padding-bottom: vw(50);
							@include mq('sp-down'){
								padding-bottom: unset;
							}
						}
					}
				}
			}
		}
	}
}


.photograph{
	.ttl-h2{
		span{
			font-size: vw(40);
			font-weight: bold;
			@include mq('sp-down'){
				font-size: vw2(28);
			}
		}
	}
	.section-inner{
		padding-top: vw(120);
		padding-left: vw(75);
		padding-right: vw(100);
		padding-bottom: vw(100);
		background-color: #f7f7fa;
		position: relative;
		@include mq('sp-down'){
			padding-top: vw2(32);
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: vw2(64);
		}
		&::after{
			content: "";
			width: vw(634);
			height: vw(609);
			position: absolute;
			background-image: url(../img/camera.webp);
			background-size: cover;
			bottom: vw(100);
			right: vw(86);
			@include mq('sp-down'){
				width: vw2(388.4);
				height: vw2(393.6);
				right: 0;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: right;
				bottom: vw2(250);
			}
		}
		.flex{
			display: flex;
			position: relative;
			z-index: 2;
			@include mq('sp-down'){
				flex-direction: column;
			}
			.left{
				width: 54%;
				@include mq('sp-down'){
					width: 100%;
				}
				img{
					width: 100%;
				}
			}
			.right{
				width: 46%;
				padding-left: vw(72);
				padding-top: vw(30);
				@include mq('sp-down'){
					width: 100%;
					padding-left: unset;
					padding-top: vw2(20);
				}
				p{
					font-size: vw(24);
					font-weight: bold;
					line-height: 2em;
					letter-spacing: 0.04em;
					@include mq('sp-down'){
						font-size: vw2(16);
					}
				}
			}
		}
		.flex2{
			display: flex;
			justify-content: space-between;
			margin-top: vw(80);
			position: relative;
			z-index: 2;
			@include mq('sp-down'){
				flex-direction: column-reverse;
				margin-top: vw2(150);
			}
			.left{
				padding-top: vw(20);
				@include mq('sp-down'){
					width: 100%;
				}
				h2{
					font-size: vw(88);
					color: #575757;
					letter-spacing: 0.04em;
					transform: rotate(-5deg);
					@include mq('sp-down'){
						font-size: vw2(44);
						margin-left: -15px;
						padding-top: vw2(20);
						padding-bottom: vw2(30);
					}
				}
				p{
					margin-top: vw(20);
					font-size: vw(24);
					font-weight: bold;
					letter-spacing: 0.04em;
					line-height: 2em;
					padding-left: vw(190);
					@include mq('sp-down'){
						margin-top: unset;
						font-size: vw2(16);
						padding-left: 0;
					}
				}
				.has-heart{
					position: relative;
					&::after{
						content: "";
						width:vw(20);
						height: vw(20);
						background-image: url(../img/heart.svg);
						position: absolute;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						margin-top: vw(14);
						margin-left: vw(3);
						@include mq('sp-down'){
							width: 15px;
							height: 15px;
							margin-top: 8px;
							margin-left: 3px;
						}
					}
				}
			}
			.right{
				width: 50%;
				@include mq('sp-down'){
					width: 100%;
				}
				img{
					margin-left: auto;
					display: block;
					width: 70%;
					@include mq('sp-down'){
						width: 100%;
					}
				}
			}
		}
	}
}

.kuchikomi{
	.ttl-h2{
		span{
			font-size: vw(40);
			font-weight: bold;
			@include mq('sp-down'){
				font-size: vw2(28);
			}
		}
	}
	.section-inner{
		padding-top: vw(120);
		padding-bottom: vw(120);
		padding-right: vw(200);
		padding-left: vw(84);
		display: flex;
		@include mq('sp-down'){
			padding-top: vw2(32);
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: vw2(100);
		}
		.sec-left{
			position: relative;
			text-align: center;
			display: flex;
			margin-right: vw(25);
			@include mq('sp-down'){
				display: none;
			}
			&::before{
				content: "";
				width: 2px;
				height: 100%;
				background-color: #d5c1b9;
				position: absolute;
				top: 0;
				left: calc(50% - vw(2));
			}
			h2{
				letter-spacing: 0.04em;
				font-size: vw(88);
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;
				transform: rotate(180deg);
				text-align: center;
				span{
					color: #d5c1b9;
					position: relative;
					background-color: #fff;
					padding-bottom: vw(80);
					padding-top: vw(80);
				}

			}
		}
		.sec-right{
			.flex{
				display: flex;
				padding-bottom: vw(134);
				position: relative;
				@include mq('sp-down'){
					flex-direction: column;
					padding-bottom: vw2(90);
				}
				.left{
					position: relative;
					z-index: 2;
					img{
						width: vw(455);
						@include mq('sp-down'){
							width: 100%;
						}
					}
				}
				.right{
					border: 1px solid #707070;
					padding-left: vw(200);
					margin-left: vw(-180);
					margin-top: vw(40);
					position: relative;
					padding-right: vw(30);
					padding-bottom: vw(75);
					@include mq('sp-down'){
						margin-left: 10px;
						width: calc(100% + 0px);
						padding-left: vw2(30);
					}
					h2{
						font-size: vw(28);
						letter-spacing: 0.04em;
						font-weight: bold;
						padding-top: vw(60);
						padding-bottom: vw(40);
						position: relative;
						z-index: 2;
						@include mq('sp-down'){
							font-size: vw2(18);
							padding-top: vw2(24);
							padding-bottom: vw2(20);
						}
					}
					p{
						font-size: vw(16);
						line-height: 2em;
						letter-spacing: 0.04em;
						font-weight: bold;
						position: relative;
						z-index: 2;
						@include mq('sp-down'){
							font-size: vw2(14);
						}
					}
					&::before{
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: #d5c1b9;
						top: vw(15);
						left: vw(15);
						z-index: -1;
						@include mq('sp-down'){
							top: 5px;
							left: 6px;
						}
					}
				}
			}
			.flex-reverse{
				flex-direction: row-reverse;
				justify-content: flex-start;
				@include mq('sp-down'){
					flex-direction: column;
				}
				.right{
					padding-left: vw(40);
					padding-right: vw(250);
					margin-right: vw(-220);
					margin-top: vw(100);
					@include mq('sp-down'){
						margin-right: unset;
						margin-left: vw2(-10);
						margin-top: vw2(-50);
						padding-top: vw2(50);
						padding-left: vw2(40);
						padding-bottom: vw2(70);
					}
					&::before{
						left: vw(-25);
					}
				}
			}
			.flex1{
				.right{
					&::after{
						content: "";
						width: vw(120.3);
						height: vw(199);
						position: absolute;
						background-image: url(../img/kuchikomi1-icon.svg);
						background-size: cover;
						right: vw(-95);
						bottom: vw(-50);
						@include mq('sp-down'){
							width: vw2(76.8);
							height: vw2(127.1);
							right: 0;
							bottom: vw2(-40);
						}
					}
				}

			}
			.flex2{

				.right{
					@include mq('sp-down'){
						position: relative;
					}
					&::after{
						content: "";
						width: vw(125.1);
						height: vw(220.4);
						position: absolute;
						background-image: url(../img/kuchikomi2-icon.svg);
						background-size: cover;
						left: vw(-130);
						bottom: vw(-75);
						@include mq('sp-down'){
							background-image: url(../img/kuchikomi2-icon-sp.svg);
							width: vw2(97.9);
							height: vw2(172.5);
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
							left: unset;
							right: vw2(0);
							bottom: vw2(-50);

						}
					}
					.sp-show{
						position: absolute;
						z-index: 2;
						bottom: -50px;
					}
				}


			}
			.flex3{
				padding-bottom: 0;
				.right{
					padding-right: vw(50);
					padding-bottom: vw(50);
					&::after{
						content: "";
						width: vw(177.9);
						height: vw(229.4);
						position: absolute;
						background-image: url(../img/relax.svg);
						background-size: cover;
						right: vw(-110);
						bottom: vw(-70);
						@include mq('sp-down'){
							width: vw2(87.1);
							height: vw2(112.4);
							right: 0;
							bottom: vw2(-50);
						}
					}
				}
			}
		}
	}
}

.showtime{
	.section-inner{
		padding-top: vw(60);
		padding-bottom: vw(120);
		padding-left: vw(200);
		padding-right: vw(200);
		@include mq('sp-down'){
			padding-top: vw2(40);
			padding-left: vw2(30);
			padding-right: vw2(30);
			padding-bottom: vw2(80);
			
		}
		.white-wrapper{
			background-color: #fff;
			border: 3px solid $red;
			padding-top: vw(40);
			padding-bottom: vw(33);
			@include mq('sp-down'){
				padding-top: vw2(32);
				padding-bottom: vw2(40);
			}
			h3,p{
				text-align: center;
			}
			h3{
				font-size: vw(32);
				padding-bottom: vw(8);
				@include mq('sp-down'){
					font-size: vw2(32);
					padding-bottom: vw2(8);
				}
			}
			.mini{
				font-size: vw(12);
				font-weight: bold;
				margin-bottom: vw(60);
				@include mq('sp-down'){
					font-size: vw2(12);
					margin-bottom: vw2(26);
				}
			}
			.desc{
				font-size: vw(16);
				margin-bottom: vw(18);
				font-weight: bold;
				@include mq('sp-down'){
					font-size: vw2(16);
					margin-bottom: vw2(30);
				}

			}
			.btn-wrapper{
				max-width: vw(400);	
				margin: auto;
				@include mq('sp-down'){
					max-width: vw2(265);
				}
			}
			position: relative;
			&::after{
				content: "";
				width: vw(218.9);
				height: vw(122);
				background-image: url(../img/basket.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: right;
				position: absolute;
				right: vw(36);
				bottom: vw(20);
				@include mq('sp-down'){
					width: vw2(48.3);
					height: vw2(26.9);
					right: vw2(8);
					bottom: vw2(83);
					z-index: 2;
				}
			}
			.inner{
				position: relative;
				z-index: 2;
			}
		}
		.white1{
			margin-bottom: vw(80);
			@include mq('sp-down'){
				margin-bottom: vw2(40);
			}
		}
		.white2{
			padding-left: vw(85);
			padding-right: vw(85);
			@include mq('sp-down'){
				padding-left: vw2(50);
				padding-right: vw2(50);
			}
			&::after{
				display: none;
			}
			.inner{
				h2{
					text-align: center;
					font-size: vw(35);
					margin-bottom: vw(16);
					font-weight: bold;
					@include mq('sp-down'){
						font-size: vw2(35);
						margin-bottom: vw2(16);
						margin-top: vw2(35);
					}
				}
				.mini{
					margin-bottom: 0;
				}
				.sub{
					text-align: center;
					font-weight: bold;
					font-size: vw(16);
					margin-bottom: vw(40);
					@include mq('sp-down'){
						font-size: vw2(16);
						margin-bottom: vw2(40);
					}
				}
				.list{
					border-bottom: 1px solid #7f4b53;
					padding-top: vw(40);
				}
				.list1{
					position: relative;
					&::after{
						content: "";
						width: vw(143.7);
						height: vw(185.3);
						background-image: url(../img/relax-color.svg);
						position: absolute;
						right: vw(50);
						bottom: vw(10);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: right;
						@include mq('sp-down'){
							display: none;
						}
					}
				}
				.list3{
					border-bottom: none;
					position: relative;
					&::after{
						content: "";
						width: vw(195.5);
						height: vw(127.5);
						background-image: url(../img/pillows.svg);
						position: absolute;
						left: vw(20);
						bottom: vw(10);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: right;
						@include mq('sp-down'){
							display: none;
						}
					}
				}
				.btn-wrapper{
					padding-bottom: vw(40);
					@include mq('sp-down'){
						padding-bottom: vw2(40);
						width: vw2(265);
						margin-left: vw2(-20);
					}
					.reserve-btn{
						background-image: linear-gradient(to left, #dc2424 0%, #480048 100%);
						border-left: 1px solid #dc2424;
						border-right: 1px solid #480048;

						&::before{
						  background-image: linear-gradient(to right, #dc2424,#480048);
						}
						@include mq('sp-up'){
							&:hover{
								border-right: 1px solid #480048;
								border-left: 1px solid #dc2424;
							}
						}
					  

					}
				}
			}
		}
	}
}

footer{
	padding-right: vw(250);
	padding-left: vw(80);
	background-color: #292929;
	display: flex;
	align-items: center;
	height: vw(80);
	justify-content: space-between;
	@include mq('sp-down'){
		flex-direction: column-reverse;
		height: auto;
		padding-bottom: vw2(10);
		padding-left: 15px;
		padding-right: 15px;
		padding-top: vw2(20);
	}
	p{
		font-size: vw(16);
		font-weight: bold;
		@include mq('sp-down'){
			font-size: vw2(16);
			margin-top: vw2(20);
			padding-bottom: vw2(10);
		}
	}
	a{
		font-size: vw(16);
		position: relative;
		@include mq('sp-down'){
			font-size: vw2(14);
		}
		&::after{
			content: "";
			width: 0%;
			height: 1px;
			background-color: #fff;
			position: absolute;
			left: 50%;
			bottom: -4px;
			transition: all .3s;
		}
		@include mq('sp-up'){
			&:hover{
				&::after{
					width: 100%;
					left: 0;
				}
			}
		}

	}
	ul{
		display: flex;
		@include mq('sp-down'){
			flex-wrap: wrap;
		}
		li{
			margin-right: vw(32);
			@include mq('sp-down'){
				width: 50%;
				margin-right: 0;
				margin-bottom: vw2(25);
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}