@charset "UTF-8";

// 色
$c-main:#1a1a1a;
$red:#7f4b53;
$red2:#d5c1b9;


$en:"Josefin Sans";
$hikki:"Allura";

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: 1024px)",
	"tab-up": "(min-width: 1025px)",
	"wide" : "(min-width: 1800px)"

);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

$baseWidth : 1440;
 	@function vw($pixelsVw) {
    @return $pixelsVw / $baseWidth * 100vw;
}
$baseWidth2 : 390;
	@function vw2($pixelsVw) {
	@return $pixelsVw / $baseWidth2 * 100vw;
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: $c-main;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  color: $c-main;
  font-weight: 500;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}



.tab-show{
	display: none;
	@include mq('tab-down'){
		display: block;
	}
}

.tab-hide{
	display: block;
	@include mq('tab-down'){
		display: none;
	}
}

.sp-show{
	display: none;
	@include mq('sp-down'){
		display: block;
	}
}

.sp-hide{
	display: block;
	@include mq('sp-down'){
		display: none;
	}
}

.totop{
	position: fixed;
	width: 90px;
	height: 90px;
	background-color: #042c4c;
	border: 1px solid #042c4c;
	border-radius: 99px;
	right: 70px;
	z-index: 99;
	bottom: 120px;
	opacity: 0;
	transition: all .2s;
	@include mq('tab-down'){
		right: 30px;
		bottom: 50px;
		width: 50px;
		height: 50px;
	}
	&::after{
		content: "";
		position: absolute;
		height: 4px;
		width: 30px;
		background-color:white;
		top: 40px;
		left: 19px;
		transform: rotate(-45deg);
		@include mq('tab-down'){
			width: 20px;
			left: 8px;
			top:20px;
		}
	}
	&::before{
		content: "";
		position: absolute;
		height: 4px;
		width: 30px;
		background-color: white;
		top: 40px;
		right: 19px;
		transform: rotate(45deg);
		@include mq('tab-down'){
			width: 20px;
			right: 8px;
			top:20px;
		}
	}
	&.bottomScroll{
		opacity: 1;
	}
}

#loading {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: #FAFFFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	img{
		position: absolute;
		max-width: 400px;
		width: 80%;
		
		@include mq('tab-down'){
			top: 30vh;
		}
	}
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.spinner {
	width: 100px;
	height: 100px;
	margin: 200px auto;
	background-color: #2474d3;
	border-radius: 100%;
	animation: sk-scaleout 1.0s infinite ease-in-out;

	@include mq('tab-down'){
		position: relative;
		top: -10vh;
	}
}

.loaded {
	opacity: 0;
	visibility: hidden;
}

main{
	overflow: hidden;
}


.red{
	color: $red;
}
.bg-red{
	background-color: $red;
}
.white{
	color: #fff;
}
.bg-white{
	background-color: #fff;
}
.bg-red2{
	background-color: $red2;
}
.hikki{
	font-family: $hikki;
}
.number{
	font-family: 'Baskerville';
}
.en{
	font-family: $en;
}

header{
	position: fixed;
	height: 64px;
	width: 100%;
	z-index: 10;
	.header-inner{
		display: flex;
		justify-content: center;
		height: 100%;
		.logo,.reserve-btn{
			position: absolute;
		}
		.logo{
			left: 0;
			height: 64px;
			img{
				height: 100%;
				width: auto;
			}
		}
		.reserve-btn{
			right: 0;
			height: 100%;
			width: 248px;
			display: flex;
			justify-content: center;
			align-items: center;
			span{
				font-weight: 600;
				font-size: vw(18);
			}
		}
		ul{
			display: flex;
			li{
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: vw(24);
				margin-left: vw(24);
				a{
					font-size: vw(14);
					color: white;
				}
			}
		}
	}
}

.reserve-btn{
	background-image: linear-gradient(to left, #3a1c71 0%, #ffaf7b 100%);
	position: relative;
	border-left: 1px solid #3a1c71;
	border-right: 1px solid #ffaf7b;
	transition: all .3s;
	top: 0;
	span{
		color: white;
		position: relative;
		z-index: 2;
	}
	&::before{
	  content: "";
	  display: block;
	  position: absolute;
	  width: calc(100% + 2px);
	  height: 100%;
	  background-image: linear-gradient(to right, #3a1c71, #ffaf7b);
	  opacity: 1;
	  transition: all .6s;
	  transition-timing-function: ease-in-out;
	}
  
	&:hover{
	  border-right: 1px solid #3a1c71;
	  border-left: 1px solid #ffaf7b;
	  &::before{
		opacity: 0;
	  }
	}
}

.fv{
	width: 100%;
	height: vw(717);
	background-image: url(../img/fv.webp);
	background-size: cover;
	position: relative;
	padding-right: vw(282);
	padding-left: vw(80);
	display: flex;
	align-items: flex-end;
	&::after{
		content: "";
		width: 100%;
		height: 100%;
		background-color:rgba(44,44,44,0.5);
		position: absolute;
		left: 0;
		top: 0;
	}
	.section-inner{
		position: relative;
		z-index: 2;
		display: flex;
		align-items: flex-end;
		.left{
			padding-bottom: vw(120);
			padding-right: vw(210);
			h1{
				font-size: vw(40);
				line-height: 1.4em;
				letter-spacing: 0.04em;
				font-weight: bold;
				padding-bottom: vw(38);
			}
			h2{
				text-align: center;
				position: relative;
				height: vw(40);
				display: block;
				&::before{
					content: "";
					width: vw(30);
					height: 1px;
					background-color: #fff;
					position: absolute;
					left: 0;
					top: 50%;
				}
				&::after{
					content: "";
					width: vw(30);
					height: 1px;
					background-color: #fff;
					position: absolute;
					right: 0;
					top: 50%;
				}
				span{
					font-size: vw(40);
					line-height: vw(40);
				}
			}
		}
		.right{
			width: vw(489);
			padding-bottom: vw(32);
			img{
				width: 100%;
			}
		}
	}
	.circle{
		position: absolute;
		right: vw(105);
		bottom: vw(-120);
		z-index: 3;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: vw(245);
		height: vw(245);
		p{
			font-weight: bold;
			letter-spacing: 0.02em;
			font-size: vw(24);
			line-height: vw(26);
		}
		.mini{
			font-size: vw(20);
		}
		h3{
			font-size: vw(107);
			font-weight: bold;
			padding-left: vw(20);
			span{
				font-size: vw(48);
				color: white;
			}
		}
		.notice{
			font-size: vw(12);
		}
	}
}

.about{
	padding-bottom: vw(100);
	padding-right: vw(80);
	padding-left: vw(125);
	margin-top: vw(-40);
	.section-inner{
		display: flex;
		align-items: flex-end;
		.left{
			width: vw(377);
			padding-bottom: vw(30);
			img{
				width: 100%;
				position: relative;
				z-index: 2;
			}
		}
		.right{
			padding-left: vw(100);
			width: calc(100% - vw(377));
			padding-right: vw(20);
			position: relative;
			&::before{
				content: "";
				width: vw(125.1);
				height: vw(161.3);
				background-image: url(../img/relax.svg);
				position: absolute;
				left: vw(20);
				top: vw(-20);
				z-index: 3;
				background-size: cover;
			}
			.ttl-wrapper{
				padding-left: vw(80);
				position: relative;
				&::before{
					content: "";
					position: absolute;
					height: 2px;
					width: vw(45);
					background-color: #555555;
					left: vw(-7.5);
					bottom: vw(45);
				}
				&::after{
					content: "";
					position: absolute;
					height: 2px;
					width: vw(90);
					background-color: #555555;
					right: vw(-7.5);
					bottom: vw(45);
				}
				.wrap-wrap{
					display: flex;
					align-items: center;
					margin-bottom: vw(-40);
					position: relative;
					&::before{
						content: "";
						background-image: url(../img/slash.svg);
						width: vw(32.75);
						height: vw(24.81);
						position: absolute;
						bottom: vw(30);
						left: vw(-30);
					}
					&::after{
						content: "";
						background-image: url(../img/slash.svg);
						width: vw(32.75);
						height: vw(24.81);
						position: absolute;
						bottom: vw(30);
						right: vw(90);
					}
				}
				z-index: 2;

				.number{
					font-size: vw(125);
					letter-spacing: -0.04em;
					font-style: italic;
					font-weight: 600;
				}
				.ttl-right{
					padding-left: vw(10);
					display: flex;
					flex-direction: column;
					align-items: center;
					.border{
						border:1px solid $red;
						font-size: vw(15);
						font-weight: 600;
						line-height: 1.4em;
						text-align: center;
						padding-left: vw(5);
						padding-right: vw(5);
						margin-bottom: vw(3);
					}
					h5{
						font-size: vw(32);
						font-weight: bold;
						padding-left: vw(5);
						margin-bottom: vw(3);
					}
					h4{
						font-weight: bold;
						font-size: vw(48);
						letter-spacing: 0.04em;
					}
					
				}
			}
			.white-wrapper{
				background-color: #fff;
				padding-top: vw(60);
				padding-bottom: vw(40);
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				&::after{
					content: "";
					position: absolute;
					width: calc(100% + vw(20));
					height: calc(100% + vw(20));
					top: vw(-5);
					left: vw(-5);
					border-right: 2px solid #555555;
					border-bottom: 2px solid #555555;
				}
				&::before{
					content: "";
					position: absolute;
					width: calc(100% + vw(15));
					height: calc(100% + vw(12.5));
					top: vw(-5);
					left: vw(-7.5);
					border-right: 2px solid #555555;
					border-bottom: 2px solid #555555;
					border-left: 2px solid #555555;
				}
				.bg-red{
					font-size: vw(27);
					font-weight: bold;
					padding-left: vw(38);
					padding-right: vw(32);
					line-height: 1.26em;
					margin-bottom: vw(14);
				}
				.bold{
					font-size: vw(28);
					letter-spacing: 0.04em;
					line-height: 1.42em;
					font-weight: bold;
					color: #43435c;
				}
				.normal{
					font-size: vw(28);
					letter-spacing: 0.04em;
					line-height: 1.42em;
					color: #43435c;
				}
			}
		}
	}
}

.ttl-h2{
	text-align: center;
	height: vw(120);
	display: flex;
	justify-content: center;
	align-items: center;
	span{
		font-size: vw(64);
		color: white;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width: vw(29.4);
			height: 1px;
			background-color: #fff;
			top: 50%;
			left: vw(-60);
		}
		&::after{
			content: "";
			position: absolute;
			width: vw(29.4);
			height: 1px;
			background-color: #fff;
			top: 50%;
			right: vw(-60);
		}
	}
}

.concept{
	.bg-inner{
		background-image: url(../img/concept-bg.webp);
		background-size: cover;
		padding-top: vw(100);
		padding-bottom: vw(180);
		>p{
			font-size: vw(28);
			line-height: 1.4em;
			letter-spacing: 0.04em;
			font-weight: bold;
			text-align: center;
		}
		.mt{
			margin-top: vw(64);
		}
		.cta{
			margin-top: vw(100);
		}
	}
}

.cta{
	padding-top: vw(62);
	padding-bottom: vw(80);
	padding-left: vw(72);
	padding-right: vw(72);
	max-width: vw(1040);
	margin: auto;
	display: flex;
	justify-content: space-between;
	>div{
		width: 50%;
		.bg-red{
			clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0% 100%);
		}
		.ttl{
			display: flex;
			border-bottom:2px solid $red;
			align-items: center;
			h5{
				font-size: vw(30);
				line-height: 1.166em;
				padding-left: vw(12);
				padding-right: vw(30);
				padding-top: vw(5);
			}
			p{
				padding-left: vw(12);
				font-weight: bold;
				font-size: vw(16);
			}
		}
		.mini{
			padding-top: vw(8);
			font-size: vw(14);
			font-weight: bold;
			margin-bottom: vw(50);
		}
		.btn-wrapper{
			display: flex;
			justify-content: center;
			.line-btn{
				display: block;
				border-radius: 99px;
				width: 100%;
				line-height: vw(64);
				font-size: vw(20);
				font-weight: bold;
				text-align: center;
				position: relative;
				border: 2px solid $red;
				background-color: #fff;
				transition: all .3s;
				top: 0;
				img,svg{
					position: absolute;
					z-index: 2;
				}
				span{
					position: relative;
					z-index: 2;
					transition: all .4s;
				}
				img{
					width: vw(28);
					height: vw(28);
					left: vw(56);
					top: calc(50% - vw(14));
				}
				svg{
					width: vw(14);
					height: vw(15);
					right: vw(28);
					top: calc(50% - vw(7));
					g,path{
						transition: all .3s;
						transition-timing-function: linear;
					}
				}
				&::after{
					position: absolute;
					content: "";
					width: 0%;
					height: 100%;
					background-color: $red;
					left: 50%;
					top: 0;
					border-radius: 0px;
					transition: all .4s;
				}
				&:hover{
					top: -3px;
					box-shadow: 0 5px 1px gray;
					span{
						color: white;
					}
					&::after{
						width: 100%;
						left: 0;
						border-radius: 99px;
					}
					svg{
						g{
							fill: white;
						}
						path:last-child{
							fill: white;
						}
					}
				}
				&:active{
					top: 0;
					box-shadow: none;
				}
			}
			.booking-btn{
				display: block;
				border-radius: 99px;
				width: 100%;
				line-height: vw(64);
				font-size: vw(20);
				font-weight: bold;
				text-align: center;
				position: relative;
				transition: all .3s;
				top:0;
				svg{
					position: absolute;
					width: vw(14);
					height: vw(15);
					right: vw(28);
					top: calc(50% - vw(7));
				}
				&::before{
					border-radius: 99px;
				}
				&:hover{
					top: -3px;
					box-shadow: 0 5px 1px gray;
				}
				&:active{
					top: 0;
					box-shadow: none;
				}
			}
		}
	}
	.contact{
		padding-right: vw(48);
	}
	.booking{
		padding-left: vw(48);
	}
}

.studio{
	padding-bottom: 120px;
	position: relative;
	overflow: hidden;
	&::after{
		content: "";
		position: absolute;
		right: 112px;
		width: 218.4px;
		height: 150.3px;
		background-image: url(../img/glasses.svg);
		background-size: cover;
	}
	.section-inner{
		
		&:first-child{
			padding-top: vw(46);
		}
		margin-bottom: vw(46);
		&:last-child{
			margin-bottom: 0;
		}
		.ttl-wrapper{
			display: flex;
			justify-content: center;
			margin-bottom: vw(56);
			padding-top: vw(46);
			.hikki{
				color: #2b2b2b;
				font-size: vw(48);
				letter-spacing: 0.04em;
				border-left: 1px solid #707070;
				border-right: 1px solid #707070;
				padding-left: vw(30);
				padding-right: vw(30);
				position: relative;
				&::before{
					position: absolute;
					content: "";
					left: 5px;
					width: 5px;
					height: 100%;
					background-color: #707070;
					top: 0;
				}

				&::after{
					position: absolute;
					content: "";
					right: 5px;
					width: 5px;
					height: 100%;
					background-color: #707070;
					top: 0;
				}
			}
		}
		.box{
			background-color: #fff;
			max-width: 1040px;

			margin: auto;
			.box-ttl{
				text-align: center;
				line-height: 62px;
				cursor: pointer;
				span{
					font-size: 24px;
					font-weight: bold;
					color: #1a1a1a;
				}
				position: relative;
				&::before,&::after{
					content: "";
					width: 21.8px;
					height: 4px;
					background-color:$red;
					position: absolute;
					right: 13px;
					top: calc(50% - 2px);
					transition: all .3s;
				}
				&::before{
					transform: rotate(90deg);
					transition: all .3s;
					transition-delay: .3s;
				}
				&.active{
					&::before{
						transform: rotate(0);
						transition-delay:0s;
					}
				}
			}

			.content{
				padding-bottom: 78px;
				display: none;
				.shop-ttl{
					h4{
						line-height: 49px;
						font-size: 24px;
						text-align: center;
						font-weight: bold;
					}
					margin-bottom: 44px;
				}
				.shop-about{
					width: 65%;
					margin: auto;
					margin-bottom: 36px;
					th,td{
						font-size: 24px;
						font-weight: bold;
						line-height: 1.16em;
						white-space: nowrap;
					}
					th{
						width: 200px;
						padding-left: 50px;
					}
					td{
						width: calc(100% - 200px);
						padding-right: 50px;
					}
					tr{
						border-left: 2px solid $red;
						border-right: 2px solid $red;
						&:first-child{
							th,td{
								padding-bottom: 14px;
							}
						}
						position: relative;
						&::before{
							content: "";
							width: 4px;
							height: 100%;
							background-color: $red;
							position: absolute;
							left: 4px;
							top: 0;
						}
						&::after{
							content: "";
							width: 4px;
							height: 100%;
							background-color: $red;
							position: absolute;
							right: 4px;
							top: 0;
						}
					}
				}
				.box-in-box{
					display: flex;
					justify-content: center;
					.bg-red2{
						text-align: center;
						font-size: 18px;
						line-height: 1.666em;
						letter-spacing: 0.04em;
						font-weight: bold;
						padding-top: 15px;
						padding-bottom: 12px;
						padding-left: 58px;
						padding-right: 58px;
					}
					.bg-red{
						font-size: 24px;
						line-height: 44px;
						padding-left: 10px;
						padding-right: 10px;
						font-weight: bold;
						min-width: 350px;
						text-align: center;
					}

				}
				.bb1{
					margin-bottom: 48px;
				}
				.bb2{
					margin-bottom: 20px;
				}
				.flex{
					display: flex;
					justify-content: space-between;
					padding-left: 80px;
					padding-right: 80px;
					.card{
						width: calc(33.333% - 28px);
						img{
							width: 100%;
						}
						p{
							font-size: 16px;
							line-height: 1.625em;
							color: #1a1a1a;
							padding-top: 20px;
							word-break: break-word;
						}
					}
				}
				.table-wrapper{
					padding-left: 80px;
					padding-right: 80px;
					.inner{
						padding: 28px 62px;
						table{
							width: 100%;
							th,td{
								padding-top: 20px;
								padding-bottom: 20px;
								color: white;
							}
							th{
								width: 160px;
								font-weight: bold;
							}
							td{
								width: calc(100% - 160px);
							}
							tr{
								border-bottom: 1px solid rgba(255,255,255,.18);
								&:last-child{
									border-bottom: none;
									th,td{
										padding-bottom: 0;
									}
								}
							}
						}
					}
				}
				.notice{
					font-size: 14px;
					line-height: 1.3em;
					text-align: center;
				}
				.plan{
					padding-left: 15px;
					padding-right: 15px;
					h5{
						text-align: center;
						margin-bottom: 35px;
						span{
							color: #1a1a1a;
							font-size: 16px;
							line-height: 1.875em;
							font-weight: bold;
							position: relative;
							&::after{
								content: "";
								height: 3px;
								width: 43px;
								position: absolute;
								background-color: $red;
								bottom: -8px;
								left: calc(50% - 21.5px);
							}
						}
					}
					table{
						width: 100%;
						max-width: 692px;
						margin: auto;
						position: relative;
						&::before{
							content: "";
							position: absolute;
							width: calc(50% - 8px);
							height: calc(100% - 8px);
							background-color: #fdf0f0;
							top: 4px;
							left: 4px;
						}
						&::after{
							content: "";
							position: absolute;
							width: calc(50% - 8px);
							height: calc(100% - 8px);
							background-color: #f8f8fa;
							top: 4px;
							right: 4px;
						}
						tr{
							position: relative;
							z-index: 2;
							&::after{
								content: "";
								width: 100%;
								height: 1px;
								background-color: #e4e5e5;
								position: absolute;
								bottom: 0;
								left: 0;
							}
							th{
								border: 1px solid #e4e5e5;
								width: 50%;
								font-size: 24px;
								
								span{
									line-height: 1.8333em;
									font-weight: bold;
									color: #1a1a1a;
								}
								.img-wrapper{
									display: inline;
									position: relative;
									.ab{
										position: absolute;
										left: -35px;
									}
								}
								.daikan-img{
									margin-left: -5px;
									margin-right: -5px;
									position: relative;
									width: 44px;
									&::after{
										content: "or";
										font-size: 10px;
										transform: scale(.8);
										font-weight: normal;
										position: absolute;
										right: 4px;
									}
									.opa0{
										opacity: 0;
									}

								}
								.daikan-img2{
									&::after{
										content: "+";
									}
								}
								.no-after{
									&::after{
										display: none;
									}
								}
								.item{
									font-size: 16px;
								}
							}
							td{
								border: 1px solid #e4e5e5;
								width: 50%;
								font-size: 24px;
								span{
									line-height: 1.8333em;
									font-weight: bold;
									color: #1a1a1a;
								}
								.zei{
									font-size: 14px;
									font-weight: normal;
								}
							}
							th,td{
								padding-top: 10px;
								padding-bottom: 10px;
								text-align: center;
								border-bottom: none;
							}
							
						}
					}
				}
			}
		}
	}
}

.check{
	overflow: hidden;
	padding-bottom: vw(120);
	.flex-wrapper{
		padding-right: vw(80);
		padding-top: vw(65);
	}
	.flex{
		display: flex;
		align-items: center;
		margin-bottom: vw(216);
		.left{
			padding-right: vw(90);
			width: 46%;
			.left-top{
				img{
					position: relative;
					left: -23px;
				}
				padding-bottom: 20px;
			}
			.left-bottom{
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: vw(76);
				h2{
					text-align: center;
					font-size: vw(28);
					font-weight: bold;
					width: 100%;
					border-left: 2px solid $red;
					border-right: 2px solid $red;
					position: relative;
					margin-bottom: vw(16);
					&::before{
						 content: "";
						 width: 4px;
						 height: 100%;
						 background-color: $red;
						 position: absolute;
						 left: 4px;
					}
					&::after{
						content: "";
						width: 4px;
						height: 100%;
						background-color: $red;
						position: absolute;
						right: 4px;
				   }
				}
				.check-list{
					position: relative;
					width: 100%;
					&::before{
						content: "";
						width: 2px;
						height: calc(100% - vw(8));
						background-color: $red;
						position: absolute;
						left: 0px;
						top: vw(8);
				   }
				   &::after{
					   content: "";
					   width: 2px;
					   height: calc(100% - vw(8));
					   background-color: $red;
					   position: absolute;
					   right: 0px;
					   top: vw(8);
				  }
				  h4{
					text-align: center;
					font-size: vw(18);
					letter-spacing: 0.04em;
					line-height: 1.6666em;
					font-weight: bold;
					margin-bottom: vw(20);
					&::after{
						content: "";
						width: vw(16.7);
						height: vw(17);
						display: inline-block;
						position: relative;
						top: vw(3);
						left: vw(-3);
						background-image: url(../img/heart.svg);
					}
				  }
				  ul{
					padding-left: vw(50);
					li{
						margin-bottom: vw(12);
						font-size: vw(14);
						line-height: vw(20);
						font-weight: bold;
						color: #2f2f2f;
						&:last-child{
							margin-bottom: 0;
						}
						img{
							margin-right: vw(12);
							height: vw(20);
							width: auto;
						}
					}
				  }
				}
			}
		}
		.right{
			width: 54%;
			img{
				width: 100%;
			}
		}
	}
	.cta{
		position: relative;
		&::before{
			content: "Photostyling 75c";
			font-family: $hikki;
			font-size: vw(89);
			letter-spacing: 0.04em;
			color: #575757;
			position: absolute;
			left: vw(-120);
			top: vw(-80);
			transform: rotate(-5deg);
		}
	}
}