@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: #1a1a1a;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #1a1a1a;
  font-weight: 500;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.tab-show {
  display: none;
}
@media (max-width: 1024px) {
  .tab-show {
    display: block;
  }
}

.tab-hide {
  display: block;
}
@media (max-width: 1024px) {
  .tab-hide {
    display: none;
  }
}

.sp-show {
  display: none;
}
@media (max-width: 767px) {
  .sp-show {
    display: block;
  }
}

.sp-hide {
  display: block;
}
@media (max-width: 767px) {
  .sp-hide {
    display: none;
  }
}

.totop {
  position: fixed;
  width: 90px;
  height: 90px;
  background-color: #042c4c;
  border: 1px solid #042c4c;
  border-radius: 99px;
  right: 70px;
  z-index: 99;
  bottom: 120px;
  opacity: 0;
  transition: all 0.2s;
}
@media (max-width: 1024px) {
  .totop {
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }
}
.totop::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: white;
  top: 40px;
  left: 19px;
  transform: rotate(-45deg);
}
@media (max-width: 1024px) {
  .totop::after {
    width: 20px;
    left: 8px;
    top: 20px;
  }
}
.totop::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: white;
  top: 40px;
  right: 19px;
  transform: rotate(45deg);
}
@media (max-width: 1024px) {
  .totop::before {
    width: 20px;
    right: 8px;
    top: 20px;
  }
}
.totop.bottomScroll {
  opacity: 1;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FAFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loading img {
  position: absolute;
  max-width: 400px;
  width: 80%;
}
@media (max-width: 1024px) {
  #loading img {
    top: 30vh;
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #2474d3;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@media (max-width: 1024px) {
  .spinner {
    position: relative;
    top: -10vh;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

main {
  overflow: hidden;
}

.red {
  color: #7f4b53;
}

.bg-red {
  background-color: #7f4b53;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-red2 {
  background-color: #d5c1b9;
}

.hikki {
  font-family: "Allura";
}

.number {
  font-family: "Baskerville";
}

.en {
  font-family: "Josefin Sans";
}

header {
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 10;
}
header .header-inner {
  display: flex;
  justify-content: center;
  height: 100%;
}
header .header-inner .logo, header .header-inner .reserve-btn {
  position: absolute;
}
header .header-inner .logo {
  left: 0;
  height: 64px;
}
header .header-inner .logo img {
  height: 100%;
  width: auto;
}
header .header-inner .reserve-btn {
  right: 0;
  height: 100%;
  width: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-inner .reserve-btn span {
  font-weight: 600;
  font-size: 1.25vw;
}
header .header-inner ul {
  display: flex;
}
header .header-inner ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.6666666667vw;
  margin-left: 1.6666666667vw;
}
header .header-inner ul li a {
  font-size: 0.9722222222vw;
  color: white;
}

.reserve-btn {
  background-image: linear-gradient(to left, #3a1c71 0%, #ffaf7b 100%);
  position: relative;
  border-left: 1px solid #3a1c71;
  border-right: 1px solid #ffaf7b;
  transition: all 0.3s;
  top: 0;
}
.reserve-btn span {
  color: white;
  position: relative;
  z-index: 2;
}
.reserve-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 2px);
  height: 100%;
  background-image: linear-gradient(to right, #3a1c71, #ffaf7b);
  opacity: 1;
  transition: all 0.6s;
  transition-timing-function: ease-in-out;
}
.reserve-btn:hover {
  border-right: 1px solid #3a1c71;
  border-left: 1px solid #ffaf7b;
}
.reserve-btn:hover::before {
  opacity: 0;
}

.fv {
  width: 100%;
  height: 49.7916666667vw;
  background-image: url(../img/fv.webp);
  background-size: cover;
  position: relative;
  padding-right: 19.5833333333vw;
  padding-left: 5.5555555556vw;
  display: flex;
  align-items: flex-end;
}
.fv::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
.fv .section-inner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
}
.fv .section-inner .left {
  padding-bottom: 8.3333333333vw;
  padding-right: 14.5833333333vw;
}
.fv .section-inner .left h1 {
  font-size: 2.7777777778vw;
  line-height: 1.4em;
  letter-spacing: 0.04em;
  font-weight: bold;
  padding-bottom: 2.6388888889vw;
}
.fv .section-inner .left h2 {
  text-align: center;
  position: relative;
  height: 2.7777777778vw;
  display: block;
}
.fv .section-inner .left h2::before {
  content: "";
  width: 2.0833333333vw;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
}
.fv .section-inner .left h2::after {
  content: "";
  width: 2.0833333333vw;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
}
.fv .section-inner .left h2 span {
  font-size: 2.7777777778vw;
  line-height: 2.7777777778vw;
}
.fv .section-inner .right {
  width: 33.9583333333vw;
  padding-bottom: 2.2222222222vw;
}
.fv .section-inner .right img {
  width: 100%;
}
.fv .circle {
  position: absolute;
  right: 7.2916666667vw;
  bottom: -8.3333333333vw;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 17.0138888889vw;
  height: 17.0138888889vw;
}
.fv .circle p {
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 1.6666666667vw;
  line-height: 1.8055555556vw;
}
.fv .circle .mini {
  font-size: 1.3888888889vw;
}
.fv .circle h3 {
  font-size: 7.4305555556vw;
  font-weight: bold;
  padding-left: 1.3888888889vw;
}
.fv .circle h3 span {
  font-size: 3.3333333333vw;
  color: white;
}
.fv .circle .notice {
  font-size: 0.8333333333vw;
}

.about {
  padding-bottom: 6.9444444444vw;
  padding-right: 5.5555555556vw;
  padding-left: 8.6805555556vw;
  margin-top: -2.7777777778vw;
}
.about .section-inner {
  display: flex;
  align-items: flex-end;
}
.about .section-inner .left {
  width: 26.1805555556vw;
  padding-bottom: 2.0833333333vw;
}
.about .section-inner .left img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.about .section-inner .right {
  padding-left: 6.9444444444vw;
  width: calc(100% - 26.1805555556vw);
  padding-right: 1.3888888889vw;
  position: relative;
}
.about .section-inner .right::before {
  content: "";
  width: 8.6875vw;
  height: 11.2013888889vw;
  background-image: url(../img/relax.svg);
  position: absolute;
  left: 1.3888888889vw;
  top: -1.3888888889vw;
  z-index: 3;
  background-size: cover;
}
.about .section-inner .right .ttl-wrapper {
  padding-left: 5.5555555556vw;
  position: relative;
  z-index: 2;
}
.about .section-inner .right .ttl-wrapper::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 3.125vw;
  background-color: #555555;
  left: -0.5208333333vw;
  bottom: 3.125vw;
}
.about .section-inner .right .ttl-wrapper::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 6.25vw;
  background-color: #555555;
  right: -0.5208333333vw;
  bottom: 3.125vw;
}
.about .section-inner .right .ttl-wrapper .wrap-wrap {
  display: flex;
  align-items: center;
  margin-bottom: -2.7777777778vw;
  position: relative;
}
.about .section-inner .right .ttl-wrapper .wrap-wrap::before {
  content: "";
  background-image: url(../img/slash.svg);
  width: 2.2743055556vw;
  height: 1.7229166667vw;
  position: absolute;
  bottom: 2.0833333333vw;
  left: -2.0833333333vw;
}
.about .section-inner .right .ttl-wrapper .wrap-wrap::after {
  content: "";
  background-image: url(../img/slash.svg);
  width: 2.2743055556vw;
  height: 1.7229166667vw;
  position: absolute;
  bottom: 2.0833333333vw;
  right: 6.25vw;
}
.about .section-inner .right .ttl-wrapper .number {
  font-size: 8.6805555556vw;
  letter-spacing: -0.04em;
  font-style: italic;
  font-weight: 600;
}
.about .section-inner .right .ttl-wrapper .ttl-right {
  padding-left: 0.6944444444vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .section-inner .right .ttl-wrapper .ttl-right .border {
  border: 1px solid #7f4b53;
  font-size: 1.0416666667vw;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
  padding-left: 0.3472222222vw;
  padding-right: 0.3472222222vw;
  margin-bottom: 0.2083333333vw;
}
.about .section-inner .right .ttl-wrapper .ttl-right h5 {
  font-size: 2.2222222222vw;
  font-weight: bold;
  padding-left: 0.3472222222vw;
  margin-bottom: 0.2083333333vw;
}
.about .section-inner .right .ttl-wrapper .ttl-right h4 {
  font-weight: bold;
  font-size: 3.3333333333vw;
  letter-spacing: 0.04em;
}
.about .section-inner .right .white-wrapper {
  background-color: #fff;
  padding-top: 4.1666666667vw;
  padding-bottom: 2.7777777778vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .section-inner .right .white-wrapper::after {
  content: "";
  position: absolute;
  width: calc(100% + 1.3888888889vw);
  height: calc(100% + 1.3888888889vw);
  top: -0.3472222222vw;
  left: -0.3472222222vw;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
}
.about .section-inner .right .white-wrapper::before {
  content: "";
  position: absolute;
  width: calc(100% + 1.0416666667vw);
  height: calc(100% + 0.8680555556vw);
  top: -0.3472222222vw;
  left: -0.5208333333vw;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-left: 2px solid #555555;
}
.about .section-inner .right .white-wrapper .bg-red {
  font-size: 1.875vw;
  font-weight: bold;
  padding-left: 2.6388888889vw;
  padding-right: 2.2222222222vw;
  line-height: 1.26em;
  margin-bottom: 0.9722222222vw;
}
.about .section-inner .right .white-wrapper .bold {
  font-size: 1.9444444444vw;
  letter-spacing: 0.04em;
  line-height: 1.42em;
  font-weight: bold;
  color: #43435c;
}
.about .section-inner .right .white-wrapper .normal {
  font-size: 1.9444444444vw;
  letter-spacing: 0.04em;
  line-height: 1.42em;
  color: #43435c;
}

.ttl-h2 {
  text-align: center;
  height: 8.3333333333vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ttl-h2 span {
  font-size: 4.4444444444vw;
  color: white;
  position: relative;
}
.ttl-h2 span::before {
  content: "";
  position: absolute;
  width: 2.0416666667vw;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: -4.1666666667vw;
}
.ttl-h2 span::after {
  content: "";
  position: absolute;
  width: 2.0416666667vw;
  height: 1px;
  background-color: #fff;
  top: 50%;
  right: -4.1666666667vw;
}

.concept .bg-inner {
  background-image: url(../img/concept-bg.webp);
  background-size: cover;
  padding-top: 6.9444444444vw;
  padding-bottom: 12.5vw;
}
.concept .bg-inner > p {
  font-size: 1.9444444444vw;
  line-height: 1.4em;
  letter-spacing: 0.04em;
  font-weight: bold;
  text-align: center;
}
.concept .bg-inner .mt {
  margin-top: 4.4444444444vw;
}
.concept .bg-inner .cta {
  margin-top: 6.9444444444vw;
}

.cta {
  padding-top: 4.3055555556vw;
  padding-bottom: 5.5555555556vw;
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 72.2222222222vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.cta > div {
  width: 50%;
}
.cta > div .bg-red {
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0% 100%);
}
.cta > div .ttl {
  display: flex;
  border-bottom: 2px solid #7f4b53;
  align-items: center;
}
.cta > div .ttl h5 {
  font-size: 2.0833333333vw;
  line-height: 1.166em;
  padding-left: 0.8333333333vw;
  padding-right: 2.0833333333vw;
  padding-top: 0.3472222222vw;
}
.cta > div .ttl p {
  padding-left: 0.8333333333vw;
  font-weight: bold;
  font-size: 1.1111111111vw;
}
.cta > div .mini {
  padding-top: 0.5555555556vw;
  font-size: 0.9722222222vw;
  font-weight: bold;
  margin-bottom: 3.4722222222vw;
}
.cta > div .btn-wrapper {
  display: flex;
  justify-content: center;
}
.cta > div .btn-wrapper .line-btn {
  display: block;
  border-radius: 99px;
  width: 100%;
  line-height: 4.4444444444vw;
  font-size: 1.3888888889vw;
  font-weight: bold;
  text-align: center;
  position: relative;
  border: 2px solid #7f4b53;
  background-color: #fff;
  transition: all 0.3s;
  top: 0;
}
.cta > div .btn-wrapper .line-btn img, .cta > div .btn-wrapper .line-btn svg {
  position: absolute;
  z-index: 2;
}
.cta > div .btn-wrapper .line-btn span {
  position: relative;
  z-index: 2;
  transition: all 0.4s;
}
.cta > div .btn-wrapper .line-btn img {
  width: 1.9444444444vw;
  height: 1.9444444444vw;
  left: 3.8888888889vw;
  top: calc(50% - 0.9722222222vw);
}
.cta > div .btn-wrapper .line-btn svg {
  width: 0.9722222222vw;
  height: 1.0416666667vw;
  right: 1.9444444444vw;
  top: calc(50% - 0.4861111111vw);
}
.cta > div .btn-wrapper .line-btn svg g, .cta > div .btn-wrapper .line-btn svg path {
  transition: all 0.3s;
  transition-timing-function: linear;
}
.cta > div .btn-wrapper .line-btn::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background-color: #7f4b53;
  left: 50%;
  top: 0;
  border-radius: 0px;
  transition: all 0.4s;
}
.cta > div .btn-wrapper .line-btn:hover {
  top: -3px;
  box-shadow: 0 5px 1px gray;
}
.cta > div .btn-wrapper .line-btn:hover span {
  color: white;
}
.cta > div .btn-wrapper .line-btn:hover::after {
  width: 100%;
  left: 0;
  border-radius: 99px;
}
.cta > div .btn-wrapper .line-btn:hover svg g {
  fill: white;
}
.cta > div .btn-wrapper .line-btn:hover svg path:last-child {
  fill: white;
}
.cta > div .btn-wrapper .line-btn:active {
  top: 0;
  box-shadow: none;
}
.cta > div .btn-wrapper .booking-btn {
  display: block;
  border-radius: 99px;
  width: 100%;
  line-height: 4.4444444444vw;
  font-size: 1.3888888889vw;
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  top: 0;
}
.cta > div .btn-wrapper .booking-btn svg {
  position: absolute;
  width: 0.9722222222vw;
  height: 1.0416666667vw;
  right: 1.9444444444vw;
  top: calc(50% - 0.4861111111vw);
}
.cta > div .btn-wrapper .booking-btn::before {
  border-radius: 99px;
}
.cta > div .btn-wrapper .booking-btn:hover {
  top: -3px;
  box-shadow: 0 5px 1px gray;
}
.cta > div .btn-wrapper .booking-btn:active {
  top: 0;
  box-shadow: none;
}
.cta .contact {
  padding-right: 3.3333333333vw;
}
.cta .booking {
  padding-left: 3.3333333333vw;
}

.studio {
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}
.studio::after {
  content: "";
  position: absolute;
  right: 112px;
  width: 218.4px;
  height: 150.3px;
  background-image: url(../img/glasses.svg);
  background-size: cover;
}
.studio .section-inner {
  margin-bottom: 3.1944444444vw;
}
.studio .section-inner:first-child {
  padding-top: 3.1944444444vw;
}
.studio .section-inner:last-child {
  margin-bottom: 0;
}
.studio .section-inner .ttl-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3.8888888889vw;
  padding-top: 3.1944444444vw;
}
.studio .section-inner .ttl-wrapper .hikki {
  color: #2b2b2b;
  font-size: 3.3333333333vw;
  letter-spacing: 0.04em;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  padding-left: 2.0833333333vw;
  padding-right: 2.0833333333vw;
  position: relative;
}
.studio .section-inner .ttl-wrapper .hikki::before {
  position: absolute;
  content: "";
  left: 5px;
  width: 5px;
  height: 100%;
  background-color: #707070;
  top: 0;
}
.studio .section-inner .ttl-wrapper .hikki::after {
  position: absolute;
  content: "";
  right: 5px;
  width: 5px;
  height: 100%;
  background-color: #707070;
  top: 0;
}
.studio .section-inner .box {
  background-color: #fff;
  max-width: 1040px;
  margin: auto;
}
.studio .section-inner .box .box-ttl {
  text-align: center;
  line-height: 62px;
  cursor: pointer;
  position: relative;
}
.studio .section-inner .box .box-ttl span {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
}
.studio .section-inner .box .box-ttl::before, .studio .section-inner .box .box-ttl::after {
  content: "";
  width: 21.8px;
  height: 4px;
  background-color: #7f4b53;
  position: absolute;
  right: 13px;
  top: calc(50% - 2px);
  transition: all 0.3s;
}
.studio .section-inner .box .box-ttl::before {
  transform: rotate(90deg);
  transition: all 0.3s;
  transition-delay: 0.3s;
}
.studio .section-inner .box .box-ttl.active::before {
  transform: rotate(0);
  transition-delay: 0s;
}
.studio .section-inner .box .content {
  padding-bottom: 78px;
  display: none;
}
.studio .section-inner .box .content .shop-ttl {
  margin-bottom: 44px;
}
.studio .section-inner .box .content .shop-ttl h4 {
  line-height: 49px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.studio .section-inner .box .content .shop-about {
  width: 65%;
  margin: auto;
  margin-bottom: 36px;
}
.studio .section-inner .box .content .shop-about th, .studio .section-inner .box .content .shop-about td {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.16em;
  white-space: nowrap;
}
.studio .section-inner .box .content .shop-about th {
  width: 200px;
  padding-left: 50px;
}
.studio .section-inner .box .content .shop-about td {
  width: calc(100% - 200px);
  padding-right: 50px;
}
.studio .section-inner .box .content .shop-about tr {
  border-left: 2px solid #7f4b53;
  border-right: 2px solid #7f4b53;
  position: relative;
}
.studio .section-inner .box .content .shop-about tr:first-child th, .studio .section-inner .box .content .shop-about tr:first-child td {
  padding-bottom: 14px;
}
.studio .section-inner .box .content .shop-about tr::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #7f4b53;
  position: absolute;
  left: 4px;
  top: 0;
}
.studio .section-inner .box .content .shop-about tr::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #7f4b53;
  position: absolute;
  right: 4px;
  top: 0;
}
.studio .section-inner .box .content .box-in-box {
  display: flex;
  justify-content: center;
}
.studio .section-inner .box .content .box-in-box .bg-red2 {
  text-align: center;
  font-size: 18px;
  line-height: 1.666em;
  letter-spacing: 0.04em;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 58px;
  padding-right: 58px;
}
.studio .section-inner .box .content .box-in-box .bg-red {
  font-size: 24px;
  line-height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  min-width: 350px;
  text-align: center;
}
.studio .section-inner .box .content .bb1 {
  margin-bottom: 48px;
}
.studio .section-inner .box .content .bb2 {
  margin-bottom: 20px;
}
.studio .section-inner .box .content .flex {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
.studio .section-inner .box .content .flex .card {
  width: calc(33.333% - 28px);
}
.studio .section-inner .box .content .flex .card img {
  width: 100%;
}
.studio .section-inner .box .content .flex .card p {
  font-size: 16px;
  line-height: 1.625em;
  color: #1a1a1a;
  padding-top: 20px;
  word-break: break-word;
}
.studio .section-inner .box .content .table-wrapper {
  padding-left: 80px;
  padding-right: 80px;
}
.studio .section-inner .box .content .table-wrapper .inner {
  padding: 28px 62px;
}
.studio .section-inner .box .content .table-wrapper .inner table {
  width: 100%;
}
.studio .section-inner .box .content .table-wrapper .inner table th, .studio .section-inner .box .content .table-wrapper .inner table td {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.studio .section-inner .box .content .table-wrapper .inner table th {
  width: 160px;
  font-weight: bold;
}
.studio .section-inner .box .content .table-wrapper .inner table td {
  width: calc(100% - 160px);
}
.studio .section-inner .box .content .table-wrapper .inner table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.studio .section-inner .box .content .table-wrapper .inner table tr:last-child {
  border-bottom: none;
}
.studio .section-inner .box .content .table-wrapper .inner table tr:last-child th, .studio .section-inner .box .content .table-wrapper .inner table tr:last-child td {
  padding-bottom: 0;
}
.studio .section-inner .box .content .notice {
  font-size: 14px;
  line-height: 1.3em;
  text-align: center;
}
.studio .section-inner .box .content .plan {
  padding-left: 15px;
  padding-right: 15px;
}
.studio .section-inner .box .content .plan h5 {
  text-align: center;
  margin-bottom: 35px;
}
.studio .section-inner .box .content .plan h5 span {
  color: #1a1a1a;
  font-size: 16px;
  line-height: 1.875em;
  font-weight: bold;
  position: relative;
}
.studio .section-inner .box .content .plan h5 span::after {
  content: "";
  height: 3px;
  width: 43px;
  position: absolute;
  background-color: #7f4b53;
  bottom: -8px;
  left: calc(50% - 21.5px);
}
.studio .section-inner .box .content .plan table {
  width: 100%;
  max-width: 692px;
  margin: auto;
  position: relative;
}
.studio .section-inner .box .content .plan table::before {
  content: "";
  position: absolute;
  width: calc(50% - 8px);
  height: calc(100% - 8px);
  background-color: #fdf0f0;
  top: 4px;
  left: 4px;
}
.studio .section-inner .box .content .plan table::after {
  content: "";
  position: absolute;
  width: calc(50% - 8px);
  height: calc(100% - 8px);
  background-color: #f8f8fa;
  top: 4px;
  right: 4px;
}
.studio .section-inner .box .content .plan table tr {
  position: relative;
  z-index: 2;
}
.studio .section-inner .box .content .plan table tr::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e4e5e5;
  position: absolute;
  bottom: 0;
  left: 0;
}
.studio .section-inner .box .content .plan table tr th {
  border: 1px solid #e4e5e5;
  width: 50%;
  font-size: 24px;
}
.studio .section-inner .box .content .plan table tr th span {
  line-height: 1.8333em;
  font-weight: bold;
  color: #1a1a1a;
}
.studio .section-inner .box .content .plan table tr th .img-wrapper {
  display: inline;
  position: relative;
}
.studio .section-inner .box .content .plan table tr th .img-wrapper .ab {
  position: absolute;
  left: -35px;
}
.studio .section-inner .box .content .plan table tr th .daikan-img {
  margin-left: -5px;
  margin-right: -5px;
  position: relative;
  width: 44px;
}
.studio .section-inner .box .content .plan table tr th .daikan-img::after {
  content: "or";
  font-size: 10px;
  transform: scale(0.8);
  font-weight: normal;
  position: absolute;
  right: 4px;
}
.studio .section-inner .box .content .plan table tr th .daikan-img .opa0 {
  opacity: 0;
}
.studio .section-inner .box .content .plan table tr th .daikan-img2::after {
  content: "+";
}
.studio .section-inner .box .content .plan table tr th .no-after::after {
  display: none;
}
.studio .section-inner .box .content .plan table tr th .item {
  font-size: 16px;
}
.studio .section-inner .box .content .plan table tr td {
  border: 1px solid #e4e5e5;
  width: 50%;
  font-size: 24px;
}
.studio .section-inner .box .content .plan table tr td span {
  line-height: 1.8333em;
  font-weight: bold;
  color: #1a1a1a;
}
.studio .section-inner .box .content .plan table tr td .zei {
  font-size: 14px;
  font-weight: normal;
}
.studio .section-inner .box .content .plan table tr th, .studio .section-inner .box .content .plan table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: none;
}

.check {
  overflow: hidden;
  padding-bottom: 8.3333333333vw;
}
.check .flex-wrapper {
  padding-right: 5.5555555556vw;
  padding-top: 4.5138888889vw;
}
.check .flex {
  display: flex;
  align-items: center;
  margin-bottom: 15vw;
}
.check .flex .left {
  padding-right: 6.25vw;
  width: 46%;
}
.check .flex .left .left-top {
  padding-bottom: 20px;
}
.check .flex .left .left-top img {
  position: relative;
  left: -23px;
}
.check .flex .left .left-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5.2777777778vw;
}
.check .flex .left .left-bottom h2 {
  text-align: center;
  font-size: 1.9444444444vw;
  font-weight: bold;
  width: 100%;
  border-left: 2px solid #7f4b53;
  border-right: 2px solid #7f4b53;
  position: relative;
  margin-bottom: 1.1111111111vw;
}
.check .flex .left .left-bottom h2::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #7f4b53;
  position: absolute;
  left: 4px;
}
.check .flex .left .left-bottom h2::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #7f4b53;
  position: absolute;
  right: 4px;
}
.check .flex .left .left-bottom .check-list {
  position: relative;
  width: 100%;
}
.check .flex .left .left-bottom .check-list::before {
  content: "";
  width: 2px;
  height: calc(100% - 0.5555555556vw);
  background-color: #7f4b53;
  position: absolute;
  left: 0px;
  top: 0.5555555556vw;
}
.check .flex .left .left-bottom .check-list::after {
  content: "";
  width: 2px;
  height: calc(100% - 0.5555555556vw);
  background-color: #7f4b53;
  position: absolute;
  right: 0px;
  top: 0.5555555556vw;
}
.check .flex .left .left-bottom .check-list h4 {
  text-align: center;
  font-size: 1.25vw;
  letter-spacing: 0.04em;
  line-height: 1.6666em;
  font-weight: bold;
  margin-bottom: 1.3888888889vw;
}
.check .flex .left .left-bottom .check-list h4::after {
  content: "";
  width: 1.1597222222vw;
  height: 1.1805555556vw;
  display: inline-block;
  position: relative;
  top: 0.2083333333vw;
  left: -0.2083333333vw;
  background-image: url(../img/heart.svg);
}
.check .flex .left .left-bottom .check-list ul {
  padding-left: 3.4722222222vw;
}
.check .flex .left .left-bottom .check-list ul li {
  margin-bottom: 0.8333333333vw;
  font-size: 0.9722222222vw;
  line-height: 1.3888888889vw;
  font-weight: bold;
  color: #2f2f2f;
}
.check .flex .left .left-bottom .check-list ul li:last-child {
  margin-bottom: 0;
}
.check .flex .left .left-bottom .check-list ul li img {
  margin-right: 0.8333333333vw;
  height: 1.3888888889vw;
  width: auto;
}
.check .flex .right {
  width: 54%;
}
.check .flex .right img {
  width: 100%;
}
.check .cta {
  position: relative;
}
.check .cta::before {
  content: "Photostyling 75c";
  font-family: "Allura";
  font-size: 6.1805555556vw;
  letter-spacing: 0.04em;
  color: #575757;
  position: absolute;
  left: -8.3333333333vw;
  top: -5.5555555556vw;
  transform: rotate(-5deg);
}